// Colors
$body-bg: #FFFFFF;
$site-width: 900px;
$primary-color: #96989b;
$secondary-color: #ccc;
$light-color: #727272;
$dark-color: #333333;


// Typography
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
$main-font: 'Open Sans';
$header-font: 'Open Sans';
$text-font: 'Lora';
$text-size: '20px';
