@mixin fade($delay, $duration) {
    opacity: 0;
    
    -webkit-animation: fadein $delay; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $delay; /* Firefox < 16 */
        -ms-animation: fadein $delay; /* Internet Explorer */
         -o-animation: fadein $delay; 
    animation: fadein $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

// Colors
$body-bg: #FFFF;
$site-width: 900px;
$primary-color: #96989b;
$accent-color: #e55274;
$light-color: #727272;
$dark-color: #333333;

// Layout
$footer-height: 18rem;
$header-height: 18rem;
$mobile-navbar-height: 20em;

// Typography
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
@mixin header(){
    padding-top: 1em;
    font-family: $header-font;
    line-height: 1.5em;
}
$main-font: 'Open Sans';
$ingress-font: 'Open Sans'; 
$header-font: 'Open Sans';
$text-font: "Lora";

$text-size-mobile: 17px;
$text-size: 20px;
$body-font-size: 21px;
$page-title-font-size: 50px;
$h1-font-size: 32px;

$h3-font-color: #727272;
$h2-font-size: 32px;
$h3-font-size: 22px;
$fig-font-size: 16px;
$date-font-size: 18px;

$table-font-size: 14px;
$table-font-size-mobile: 12px;
$mobile-navbar-height: 20em;


