@import 'constants';
@import './libraries/resass';


#footer-lund {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;   
  background-color: $dark-color;
}

div#logos{
    max-width: $site-width;
    margin: auto;
    padding: 2em;
    position: relative;

    img.logo{
        float: left;
        margin-left: 8;
        margin-bottom: 1em;
        max-width: 10%;
    }

    img#bakertilly{
        padding-top: 10%;
        max-width: 12%;
    }

    div#social{
        @include r(480){margin-top: 4em;}
        float: right;
        width: auto;
        height: auto;
        margin-top: 0px;
        ul{
            list-style: none;
            color: #FFFF;
            a{
                color: #FFFF;
                padding: 0;
            }
        }
        img{
            width: 1em;
            height: 1em;
            margin-right: 1em;
        margin-bottom: 0;
        }

    }
}

