@import 'constants';


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;            /* Footer height */
  background-color: $dark-color;
}

div#logos{
    max-width: $site-width;
    padding: 2em;
    margin: auto;
}

