@import 'constants';
@import './libraries/resass';

.logo{
    width: 75%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    @include r(480) {padding-top: 2em;}
    @include r(480) {padding-top: 2em;}
}

.logo-text{
    width: 75%;
    margin-left: 1em;
    margin-right: 1em;
}

.title{
    line-height: 50px;
    text-align: left;
}
#right-col{
    width: 30%;
    margin: auto;
    display: block;
    padding-bottom: 2em;
    @include r(768) {display: none;}
}

#left-col{
    display: none;
    @include r(768) {display: block;}
}

.sticky{
    .is-active-link::before{
        background: $dark-color;
    }
    font-size: 15px;
    padding: 15px;
    padding-right: 1em;
    position: relative;
    line-height: 25px;
    max-width: 200px;
    position: absolute;
    
}

a.navbarlink{
    font-size: 22px;
    @include r(480) {font-size: 20px;}
    @include r(768) {font-size: 16px;}
    text-decoration: none;
    color: $dark-color;
    &:visited{color: $dark-color;}
    &:hover{color: $light-color;}
}


.navbar{
   max-width: $site-width;
   margin: auto;
   z-index: 999;
   position: inherit;
   @include r(480) {position: fixed}
   font-color: $dark-color;
   top: 20px; 
   right: 0;
   left: 0;
   background-color: $body-bg;
}

.fixed{ 
    position: fixed;
    top: 32px;
}
