@import 'constants';
@import './libraries/resass';

@mixin fade($delay, $duration) {
    opacity: 0;
    animation: fadein $duration;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}
#delay{ @include fade(5.5s, 2.5s);}

.title-container{
    padding: 1px;
        @include r(480){ margin-top: 0;}
        margin-top: $mobile-navbar-height;

    img,video{
        width: 100%;
        margin-top: 1em;
        @include r (768){margin-top: 6em;}
    }
    .subtitle{
        @include fade(5.5s, 2.5s);
        font-family: 'Open Sans';
        text-align: center;
        font-size: 3.4vw;
        line-height: 0;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    @include r (768){height: $header-height;}
}

.logo-container{
    height: $header-height;
    position: relative;
}

.logo{
    @include fade(0s, 2.5s);
    width: 75%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
}


#right-col{
    width: 30%;
    margin: auto;
    display: none;
    padding-bottom: 2em;
    @include r(480) {display: block;}
    @include r(768) {display: none;}
}

#left-col{
    height: $header-height;
    position: relative;
    display: none;
    @include r(768) {display: block;}
}

.sticky{
    @include fade(0s, 1s);
    .is-active-link::before{
        background: $dark-color;
    }
    font-size: 15px;
    position: absolute;
    padding-left: 15px;
    //line-height: 25px;
    max-width: 14em;
    ul,ol.is-collapsible{
        padding: 0;
        margin-left: 10px;
    }
    li{
        margin: 0 0 1em 0;
    }
    ul,ol{
        font-size: inherit;
        padding:0;
        margin-left: 10px;
    }
    
}

.fixed{ 
    position: fixed;
    top: 62px;
}




