@import 'constants';
@import './libraries/resass';

.logo-container{
    height: $header-height;
    position: relative;
}

.logo{
    width: 75%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    @include r(480) {padding-top: 2em;}
    @include r(480) {padding-top: 2em;}
    
}

.logo-text{
    width: 75%;
    margin-left: 1em;
    margin-right: 1em;
    float: top;
}

#right-col{
    width: 30%;
    margin: auto;
    display: none;
    padding-bottom: 2em;
    @include r(480) {display: block;}
    @include r(768) {display: none;}
}

#left-col{
    height: $header-height;
    position: relative;
    display: none;
    @include r(768) {display: block;}
}

.sticky{
    .is-active-link::before{
        background: $dark-color;
    }
//    font-size: 15px;
    position: absolute;
    padding-left: 15px;
    //line-height: 25px;
    max-width: 9em;
    ul,ol.is-collapsible{
        padding:0;
        margin-left: 10px;
    }
    ul,ol{
        padding:0;
        margin-left: 10px;
    }
    
}

.fixed{ 
    position: fixed;
    top: 62px;
}




