@import 'constants';


#main-text{
    padding-top: 2.5em;
    padding-bottom: 2.5rem;

    h1, h2, h3{
        padding-top: 1em;
        padding-bottom: 0.5em;
        font-family: $header-font;
    }
    p{
        text-align: justify;
        line-height: 30px;
        font-size: 20px;
        font-family:'Charter';
        color: $dark-color;
        padding-bottom: 1.0em;
    }
    p.ingress{
        font-family: $header-font;
        color: $light-color;
    }

    p.big-cite{
        font-family: $header-font;
        font-size: 18px;
        position: center;
        color: #727272;
        padding-left: 5%;
        padding-right: 5%;
    }

    p.fig{
        font-size: 16px;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 20px;
        color: #727272;
        font-family: $header-font;
    }

    p.byline{
        font-family: $header-font;
        font-size: 18px;
        text-align: right;
        color: #727272;
    }

}
