//@import 'reset_wiki_style';
@import '../../node_modules/tocbot/src/scss/tocbot-core';
@import './libraries/katex';
@import '../../node_modules/tocbot/src/scss/tocbot-default-theme';
@import 'body';
@import 'header';
@import 'navbar';
@import 'footer';
@import 'Team';
@import 'timeline';
@import 'constants';

img#group-photo{
    background: url("https://2019.igem.org/wiki/images/d/d5/T--Lund--group-photo.JPG");
    &:hover{
        background: url("https://2019.igem.org/wiki/images/9/98/T--Lund--group-photo-alt.JPG")
    }
    height: 600px;
    width: 100%;
}


#page-container {
  padding-top: 20px;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  max-width: $site-width;
  padding-bottom: $footer-height;    /* Footer height */
  margin: auto;
}


*{
    margin: 0;
    padding: 0px;
}

body{
    background: $body-bg;
    font-family: $main-font;
}


a{
   text-decoration: none; 
   color: $accent-color;
   &:hover{color: $light-color;}
   
}


//----- Extends
%clearfix:after {
	display:block;
	clear:both;
	content:'';
}

//----- Grid System
$grid-spacing:3%;

.row {
	@extend %clearfix;

	& + & {
		margin-top:$grid-spacing;
	}
    
}

[class^="col-"] {
	float:left;
	margin-right:$grid-spacing;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	&:last-child {
		margin-right:0%;
	}
}

$grid-spacing:3%;

.col-1 { width:(100% / 12) - ($grid-spacing * 11 / 12); }
.col-2 { width:(100% / 6) - ($grid-spacing * 10 / 12);}
.col-3 { width:(100% / 4) - ($grid-spacing * 9 / 12); }
.col-4 { width:(100% / 3) - ($grid-spacing * 8 / 12); }
.col-5 { width:(100% / 2.4) - ($grid-spacing * 7 / 12); }
.col-6 { width:(100% / 2) - ($grid-spacing * 6 / 12); }
.col-7 { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
.col-8 { width:(100% / 1.5) - ($grid-spacing * 4 / 12); }
.col-9 { 
    width: 100%; 
    @include r(768) {width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12);}
     }
.col-10 { width:(100% / 1.2) - ($grid-spacing * 2 / 12); }
.col-11 { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
.col-12 { width:100%; }

