@import 'constants';
@import './libraries/resass';

ul.row{
    @include r(480){
        display: flex;
        li.dropdown-content{
            text-align: left;
        }
    }
    text-align: center;
    display: block;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    justify-content: space-around;

}
.dropdown {

  a{
    white-space: nowrap;
    font-size: 22px;
    @include r(480) {font-size: 20px;}
    @include r(768) {font-size: 16px;}
    text-decoration: none;
    color: $body-bg;
    &:visited{color: $body-bg;}
    &:hover{
    color: $light-color;
    }
  }

  width: 100%;
  position: relative;
  padding: 0;
  &:hover{
      font-weight: bold;
      .dropdown-content{
          display: block;
          font-weight: normal;
      }
  }
}

.dropdown-content {
  padding: 1em;
  display: none;
  position: absolute;
  background-color: $dark-color;
  z-index: 1;
  width: 100%;
  min-width: 12em;
  text-align: left;
  ul{
      list-style: none;
  }
}
.navbar-background{
    @include r(480) {
        position: fixed;
        height: 60px;
        top: 0px;
    }
    top: 0px; 
    height: $mobile-navbar-height;
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: $dark-color;

    #mobile-logo{
        @include r(480) {display: none;}
        margin-left: auto;
        margin-right: auto;
        width: 5em;
        display: block;
    }
}

.navbar{
   top: 20px;
   max-width: $site-width;
   margin: auto;
   z-index: 999;
   position: relative;
   @include r(480) {position: fixed}
   font-color: $dark-color;
   right: 0;
   left: 0;
}



