@import 'constants';
@import './libraries/resass';

ul.row{
    font-size: 22px;
    @include r(480) {font-size: 20px;}
    @include r(768) {font-size: 16px;}

    @include r(480){
        display: flex;
        li.dropdown-content{
            text-align: left;
        }
    }
    text-align: left;
    display: block;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    justify-content: space-around;
}

.dropdown {

        width: 100%;
        position: relative;
        padding: 0;
        &:hover{
            font-weight: bold;
            .dropdown-content{
                display: block;
                font-weight: normal;
            }
        }

    a{
        white-space: nowrap;
        text-decoration: none;
        color: $body-bg;
        &:visited{color: $body-bg;}
        &:hover{color: $light-color;}
    }
}

.dropdown-content {
    @include r(480){
        display: none;
        min-width: 10em; // To fit "Public Engagement"
        position: absolute;
        z-index: 1;
        text-align: left;
        width: 100%;
        left: -20px;
    }

    width: 6em;
    min-width: 6em;
    left: 40px;
    background-color: $dark-color;
    position: relative;

    ul{
        list-style: none;
        margin: 10px;
    }
    li{overflow: visible;}
}

.navbar-background{
    @include r(480){ overflow: visible;}

    overflow: scroll;
    min-height: 60px;
    position: fixed;
    top: 0px; 
    z-index: 999;
    background-color: $dark-color;
    width: 100%;
}

#navbar{
    @include r(480){
        display: block;
        left: 1em;
        top: 26px;
        height: 100%;
    }
    display: none;
    left: 0;
    top: 22px;
    height: 100vh;

    position: relative;
    margin: auto;
    z-index: 9999;
    max-width: $site-width;
    font-color: $dark-color;
}


.hamburger {
  @include r(480){display: none;}
  z-index: 999;
  content: "";
  position: fixed;
  top: 24px;
  right: 14px;
  width: 24px;
  height: 21px;
  border-top: 12px double #FFFF;
  border-bottom: 4px solid #FFFF;
}
