@import 'constants';


.person{
   position:relative;
   height: 241.5;
    
}

.bio{
    top: 30%;
    right:0;
    left: 40%;
    width: 40%;
    height:241.5;
    position: absolute;
}

.avatar{
    left: 0;
    width:40%;
    position: absolute;
}

.title{
    text-align:center;
}

.group{
//    background-color: $primary-color;
    padding: 2em;
}
