@import '../../node_modules/tocbot/src/scss/tocbot-core';
@import '../../node_modules/tocbot/src/scss/tocbot-default-theme';
@import 'constants';
@import 'main-text';

*{
    margin: 0;
    padding: 1px;
}

$site-width: 900px;

body{
    background: $body-bg;
    font-family: $main-font;
    align: center;
    max-width: $site-width;
    margin: auto;
}

a{
    text-decoration: none;
    color: $dark-color;
    &:hover{
        color: $light-color;
    }
}

#logo{
    padding-top:1em;
}

#title{
    line-height: 50px;
    text-align: left;
}
    

.sticky{
    .is-active-link::before{
        background: $dark-color;
    }
    font-size: 15px;
    padding: 15px;
    padding-right: 1em;
    position: relative;
    max-width: 180px;
    line-height: 25px;
    //top: 37px;

}

.navbar{
    position: fixed;
    top: 0;
    width: $site-width;
    overflow: hidden;
    background: $body-bg;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .menu{
        //padding: 12px;
        display: flex;
        
        justify-content: space-between;
    }
}
.fixed{ 
    position: fixed;
    top: 32px;
}

//----- Extends
%clearfix:after {
	display:block;
	clear:both;
	content:'';
}

//----- Grid System
$grid-spacing:3%;

.row {
	@extend %clearfix;

	& + & {
		margin-top:$grid-spacing;
	}
}

[class^="col-"] {
	float:left;
	margin-right:$grid-spacing;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	&:last-child {
		margin-right:0%;
	}
}

$grid-spacing:3%;

.col-1 { width:(100% / 12) - ($grid-spacing * 11 / 12); }
.col-2 { width:(100% / 6) - ($grid-spacing * 10 / 12); }
.col-3 { width:(100% / 4) - ($grid-spacing * 9 / 12); }
.col-4 { width:(100% / 3) - ($grid-spacing * 8 / 12); }
.col-5 { width:(100% / 2.4) - ($grid-spacing * 7 / 12); }
.col-6 { width:(100% / 2) - ($grid-spacing * 6 / 12); }
.col-7 { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
.col-8 { width:(100% / 1.5) - ($grid-spacing * 4 / 12); }
.col-9 { width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12); }
.col-10 { width:(100% / 1.2) - ($grid-spacing * 2 / 12); }
.col-11 { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
.col-12 { width:100%; }

