@import 'constants';

* {
    box-sizing: border-box;
}
$bubble-bg: #f0efef;
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $dark-color;
    top: 0;
    bottom: 0;
    left: 0px;
    margin-left: -3px;
}

/* Container around content */
.container {
    position: relative;
    background-color: inherit;
    width: 100%;
    padding-left: 40px;
    padding-right: 25px;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: $bubble-bg;
    border: 4px solid $dark-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: $bubble-bg;
    position: relative;
    border-radius: 6px;
    margin-bottom: 12px;
}

.container::before {
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent $bubble-bg transparent transparent;
}
.right {
    left: 0%;
}

