<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Attributions</h1>
<div id="body">

<p class="ingress">Throughout our project we've received support from a number of people and entities. Without this support, the project would not have been possible. We are very grateful to the following people and entities!</p>
<h2 id="LTH">Counseling from the staff at Lund University</h2>
<br>
<div id="content">
<p><strong>N&eacute;lida Leiva Eriksson, Researcher at the Department of Pure and Applied Biochemistry&nbsp;</strong></p>
<p>For supporting us with wisdom, and motivation over the course of the year. Her move to Boston in August did not stop her from helping us in the hardest of times. Thank you!</p>
<br>
<p><strong>Johan Svensson Bonde, Researcher at the Department of Pure and Applied Biochemistry&nbsp;</strong></p>
<p>For helping us in many ways and teaching us hard lessons about the importance of experimental replicates. For giving us time out of his schedule to answer our questions and give us advice. Thank you!</p><br>
<p><strong>Karin Kettisen, Doctoral student at the Department of Pure and Applied Biochemistry</strong></p>
<p>For her thorough and supportive help and guidance to every day lab problems, doubts and procedures. Sharing with us her lab equipment. Help us analyze our data, and supervising us when our official supervisors were away. Thank you for everything! Tack!</p><br>
<br>
<p><strong>Anna Lindgren, Professor in Mathematical Statistics</strong></p>
<p>For giving us guidance on how to preform sensitivity analysis in our mathematical model.</p>
<br>
<p><strong>Dragi Anevski, Researcher in Mathematics</strong></p>
<p>For giving us guidance on how to develop our mathematical model.</p>
<br>
<p><strong>Simon Christensen, Doctoral student at the Department of Pure and Applied Biochemistry</strong></p>
<p>For letting us borrow his SDS dye and showing us how to calibrate our ancient pH meter.</p><br>
<p><strong>Jose Alfredo Zambrano Rodriguez, Researcher at </strong><strong>Department of Pure and Applied Biochemistry</strong></p>
<p>For counseling on sequence alignment and helping us interpret our results.</p><br>
<p><strong>Milena Savioli Lopes, Researcher at </strong><strong>Department of Pure and Applied Biochemistry</strong></p>
<p>For helping us to correctly handle advanced equipment.</p><br>
<p><strong>Cedric Dicko, Researcher at Pure and Applied Biochemistry</strong></p>
<p>For evaluating our ideas in the brainstorming phase and for allowing us to use his equipment.</p><br>
<p><strong>Margareta Sandahl, Senior lecturer at Centre for Analysis and Synthesis</strong></p>
<p>For recommending us to let Eurofins do the toxic metal analysis.</p><br>
<p><strong>Aniko Wendler, Work environment coordinator at Administration Section at LTH</strong></p>
<p>For helping us order toxic metal and helping us realize that we wouldn&rsquo;t have time to get a license for handling mercury.</p><br>
<p><strong>Liselotte Andersson, Purchasing Coordinator at Pure and Applied Biochemistry at LTH</strong></p>
<p>For helping us order lab equipment.</p><br>
<p><strong>Javier Linares-Past&eacute;n, Senior lecturer at Biotechnology (LTH)</strong></p>
<p>For supplying us with two one-liter flasks.</p><br>
<p><strong>Leila Allahgholi, Doctoral student at the Department of Biotechnology</strong></p>
<p>For helping us to use 96-well absorbance reader</p><br>
<p><strong>Nina Muratovska,Doctoral student at the Department of Applied Microbiology</strong></p>
<p>For supplying us with GelRed for our agarose electrophoresis when we run out.</p><br>
<h2 id="external">External Counseling & Support</h2>
<br>
<p><strong>Ann-Mari Sj&ouml;&ouml; Ekstr&ouml;m, Authorised Public Accountant at Baker Tilly Halmstad KB</strong></p>
<p>For giving us valuable advice and support regarding accounting and other financial matters.</p><br>
<p><strong>Dr. Tim McDermott, Professor at Montana State University</strong></p>
<p>For encouraging us to pursue our project through showing interest and giving us helpful advice and insights, presenting valid and reasonable concerns, and providing a few suggestions to start with in the early development stages.&nbsp;</p><br>
<p><strong>Karin Broberg, Professor, Karolinska Institutet</strong></p>
<p>For giving us knowledge regarding the problem of toxic metals in Sweden and globally, as well as giving us feedback on the feasibility of our project. She also supplied us with valuable information to be integrated in our model.</p><br>
<p><strong>Mohsen Mahdavi, former rice importer and distributor</strong></p>
<p>For giving us insight into the problem of toxic metals in food in Sweden, as well as giving us feedback regarding the feasibility of our project.</p><br>
<p><strong>Marie Nyman, Head of The Swedish Gene Technology Advisory Board</strong></p>
<p>For giving valuable insight and help when structuring SynthEthics. She also helped us understand the laws and regulations in the EU and Sweden.</p><br>
<p><strong>Ann Mohl&eacute;n &Aring;rling, Principal Regulatory Officer and Legal Advisor at the National Food Agency</strong></p>
<p>For giving valuable insight and help when planning and structuring SynthEthics. She also helped us understand the laws and regulations in the EU and Sweden.</p><br>
<p><strong>Alfred Kedhammar and Marie &Ouml;sterlund, Unga Forskare</strong></p>
<p>For allowing us to educate the students of the AstraZeneca SummerScience camp as well as helping us plan the event.</p><br>
<p><strong>Max Van Belkum (Past iGEMer, University of Florida)</strong></p>
<p>For giving us advice on how to retrieve EcN.</p><br>
<p><strong>Bo Benell, Lawyer</strong></p>
<p>For giving us the legal advisory necessary for making SynthEthics reality.</p><br>
<p><strong>The following students were involved in our SynthEthics project, thank you all: </strong>Fransie Streicher (Student), Alexandra Polyakova (Student), Rahil Samlal (Student), Novak Blanka (Student), Dillon Lim (Student), Frederik Stensgaarde (Student), Julia Reinius (Student)</p><br>
<p><strong>Bernard Rosencrantz, Engineer</strong></p>
<p>For giving us advice on who to talk to about how to measure low concentrations of metals in solutions.</p><br>
<p><strong>Patrik Nilsson, Student</strong></p>
<p>For counselling us on DOE.</p><br>
<p><strong>Niclas Ilestam, Director Product Development at BioGaia AB</strong></p>
<p>For giving us valuable advice about the research and experimentation with our bacteria, how the legislation of our product can be handled, and general direction regarding which financial sector we should approach for sponsorship and support.&nbsp;</p><br>
<p><strong>Probi AB</strong></p>
<p>For helping us decide on the most viable and efficient work path for our project, and giving us valuable insight on obstacles we might face, if we would have decided to use CrispR-Cas9.</p><br>
<p><strong>Albert Anis</strong></p>
<p>For listening, and giving valuable advice on how to improve our NiC presentation. Also, for showing a keen interest in our project, and more than willing to give helpful advice whenever asked.</p><br>
<p><strong>Sara Palo</strong></p>
<p>For listening, and giving valuable advice on how to improve our NiC presentation and for helping us decide what to do for our contribution.&nbsp;</p><br>
<p><strong>Adham Sakhnini</strong></p>
<p>For providing us with valuable advice and tips in the early stages of the project about modelling, and for giving us feedback on how to present our work.</p><br>
<p><strong>Erik Larsson</strong></p>
<p>For proofreading model documentaion.</p><br>
<p><strong>Lok Priya Velayuthan</strong></p>
<p>For supplying us with <em>E. coli</em> BL21( DE3) competent cells.</p><br>
<p><strong>Navneeth Bhargavi Logou</strong></p>
<p>For supplying us with <em>E. coli</em> K12 colonies.</p><br>
<p><strong>Eva Sj</strong><strong>&ouml;</strong><strong>blom</strong></p>
<p>For supplying us with agar plates and EcN competent cells.</p><br>
<p><strong>Jonas Wisbrant</strong></p>
<p>For proofreading and good advice on web-design.</p>
<br>
<p><strong>Jonny Tran</strong></p>
<p>For logo design and for giving us access to the original logo vectors.</p>
<br>
<p><strong>Marcus Rettig</strong></p>
<p>For giving us access to the source code of last years' wiki.</p>

<h2 id="resources">Resources and Financial Support</h2>
<p>Thank you to all our sponsors for believing in our project.</p><br>
<p><strong>Probi AB</strong></p>
<p>For Sponsoring us with 10 000 SEK.</p><br>
<p><strong>Baker Tilly KB</strong></p>
<p>For sponsoring us with 5000 SEK and giving us access to the accounting program Fortnox.</p><br>
<p><strong>LMK Foundation</strong></p>
<p>For sponsoring us with 100 000 SEK.</p><br>
<p><strong>Faculty of Engineering (LTH)</strong></p>
<p>For sponsoring us with 250 000 SEK.</p><br>
<p><strong>Eurofins</strong></p>
<p>For giving us a substantial discount on the toxic metal analysis. Special thanks to Bo Svensson, who showed great patience and was very helpful.</p><br>
</div>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
