{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Basic Parts</h1>
<div id="body">
    <p class="ingress">On this page, all the basic parts that were used in this project are listed.</p>
    

 <h3 id="lead">Lead Basic Parts</h3>
 <p><strong><i>pbrT</i>: <a href="http://parts.igem.org/Part:BBa_K3282001">BBa_K3282001</a></strong></p>
 <p><strong><i>pbrD</i>: <a href="http://parts.igem.org/Part:BBa_K3282002">BBa_K3282002</a></p></strong>
 <br>

<h3 id="arsenic">Arsenic Basic Parts</h3>
<p><strong><i>arsR</i>: <a href="http://parts.igem.org/Part:BBa_K3282000">BBa_K3282000</a></p></strong>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
