{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Basic Parts</h1>
<div id="body">
    <p class="ingress">On this page, all the basic parts that were used in this project are listed.</p>
    

    <h2 id="basic-parts">Basic Parts</h2>


<p><strong>TrxA: <a href="http://parts.igem.org/Part:BBa_K3619001">Bba_K3619001</a></strong></p>
<p> Encoding the protein Thioredoxin 1 which was used as a fusion partner.</p><br>
<p><strong>GST: <a href="http://parts.igem.org/Part:BBa_K3619002">Bba_K3619002</a></strong></p>
<p>Encoding the protein Glutathione S-Transferase which was used as a fusion partner.</p>
<br>
<p><strong>Enterokinase: <a href="http://parts.igem.org/Part:BBa_K3619003">Bba_K3619003</a></strong></p>
<p>Encoding the protease Enterokinase, which would be used to cleave the fusion proteins.</p><br>
<p><strong>Enterokinase cleavage site: <a href="http://parts.igem.org/Part:BBa_K3619004">Bba_K3619004</a></p></strong>
<p>Encoding the cleavage site of Enterokinase, added between fusion partner and AMP.</p><br>
<p><strong>6xHis tag: <a href=" http://parts.igem.org/Part:BBa_K112703">BBa_K112703</a></p></strong>
<p>Encoding a his-affinity tag for possible later purification.
</p>
<h3 id="basic-parts">Anti-microbial peptides</h3>
<p><strong>Ap24: <a href=" http://parts.igem.org/Part:BBa_K3619005">Bba_K3619005</a></strong></p>
<p>
<p><strong>EAFP1: <a href="http://parts.igem.org/Part:BBa_K3619006">Bba_K3619006</a></strong></p>
<p>
<p><strong>Ec-AMP-D1: <a href="http://parts.igem.org/Part:BBa_K3619007">Bba_K3619007</a></strong></p>
   <p>
<p><strong>MsrA2: <a href="http://parts.igem.org/Part:BBa_K3619008">Bba_K3619008</a></strong></p>
<p>
<p><strong>Rs-AFP1: <a href="http://parts.igem.org/Part:BBa_K3619009">BBa_K3619009</a></strong></p>
   <p>
<p><strong>nmDEF02: <a href="http://parts.igem.org/Part:BBa_K3619010">BBa_K3619010</a></strong></p>
<p>
<p><strong>Scarabaecin: <a href="http://parts.igem.org/Part:Bba_K36190011">Bba_K36190011</a></strong></p>
   <p> 
<p><strong>Temporin A: <a href="http://parts.igem.org/Part:Bba_K36190012 ">Bba_K36190012 </a></strong></p>
<p>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
