{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Collaborations</h1>
<div id="body">
    <p class="ingress">Collaborating with other teams is an integral part of iGEM. On this page we list the teams we've collaborated with over the course of the year.</p>

<h3 class="js-toc-ignore">iGEM Copenhagen:</h3>
<p>We helped them write an ethics guide on synthetic biology and participated in a lecture hosted by SynthEthics for highschool students together. </p>
<h3 class="js-toc-ignore">iGEM Linkoping:</h3>
<p>We discussed how to proceed during the pandemic and how the unexpected challenges could be handled.</em>.</p>
<h3 class="js-toc-ignore">iGEM Chalmers:</h3>
<p>We had some meetings with them, discussing modelling, and we set up a communication channel for troubleshooting problems. </p>
<h3 class="js-toc-ignore">iGEM Ohio State:</h3>
<p>We introduced them to Synthethics and started an ethical discussion on legalizing extensive scientific trials for GMO’s. 
</p>


</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
