{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Collaborations</h1>
<div id="body">
    <p class="ingress">Collaborating with other teams is an integral part of iGEM. On this pages we list the teams we've collborated with over the course of the year.</p>

<h3 class="js-toc-ignore">iGEM team Stockholm</h3>
<p>We were invited by the iGEM team of Stockholm to participate with them in the summer science camp event. Both teams introduced synthetic biology to teenage students through short seminars and experiments and presented their projects to them. They also participated in an episode of the podcast <em>The iGEM Lund Show</em>.</p>
<p>Erik Hartman, from iGEM Lund, spoke at an event they organized about the laws regulating synthetic biology.</p>
<p>They&rsquo;re also an integral part of SynthEthics.</p>

<h3 class="js-toc-ignore">iGEM SDU</h3>
<p>We gave them advice and instructions on how to start implementing and solving differential equations numerically and recommended which programming language and software they should use in their model.&nbsp;</p>
<h3 class="js-toc-ignore">iGEM Copenhagen</h3>
<p>They were an integral part of the initiation-phase of SynthEthics, aiding us in looking up laws and regulations regarding synthetic biology. They also participate in an episode of the podcast <em>The iGEM Lund Show</em>.</p>
<h3 class="js-toc-ignore">iGEM CMUQ (Qatar)</h3>
<p>Participating in the SynthEthics-project by using our questions and motives as a part of a debate they&rsquo;re organizing.</p>
<h3 class="js-toc-ignore">iGEM Gothenburg</h3>
<p>Participating in the SynthEthics-project by using our questions and motives as a part of a seminar they&rsquo;re organizing.</p>
<h3 class="js-toc-ignore">iGEM Grenobles</h3>
<p>They&rsquo;re participating in our SynthEthics-project and we&rsquo;re participating in their iGEM Ties-project.</p>
<h3 class="js-toc-ignore">iGEM Strasbourg&nbsp;</h3>
<p>They&rsquo;re participating in our SynthEthics-project and we&rsquo;ve participated in their HP-project about allergens.</p>
<h3 class="js-toc-ignore">iGEM UFRGS (Brazil)</h3>
<p>We&rsquo;ve provided them with information about the legislations regarding synthetic biology in Sweden and Europe.</p>
<h3 class="js-toc-ignore">iGEM WLC-Milwaukee</h3>
<p>Participated in an episode of the podcast <em>The iGEM Lund Show</em>.</p>
<h3 class="js-toc-ignore">iGEM UiOslo</h3>
<p>Participated in an episode of the podcast <em>The iGEM Lund Show</em>.</p>
<h3 class="js-toc-ignore">iGEM Aalto-Helsinki</h3>
<p>Participated in an episode of the podcast <em>The iGEM Lund Show</em>.</p>

</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
