{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Composite Parts</h1>
<div id="body">
    <p class="ingress">All composite parts follow the same design pattern which can be further read about at the <a href="/Team:Lund/design">Project Design page</a>.</p>
    
    <p></p>
    <h3 id="Composite Parts">Protease</h3>
    <p><strong>Trx-Ek: <a href="http://parts.igem.org/Part:Bba_K3619030">Bba_K3619030</a></p></strong>
    <br>
    <h3 id="Composite Parts">AMP parts</h3>
    <p><strong>Trx-Ap2: <a href="http://parts.igem.org/Part:Bba_K36190013">Bba_K36190013</a></p></strong>
    <br>
    <p><strong>Trx-EAFP1: <a href="http://parts.igem.org/Part: Bba_K36190014"> Bba_K36190014</a></p></strong>
    <br>
    <p><strong>Trx-Ec-AMP-D1: <a href="http://parts.igem.org/Part:Bba_K36190015">Bba_K36190015</a></p></strong>
    <br>
    <p><strong>Trx-MsrA2: <a href="http://parts.igem.org/Part:Bba_K36190016">Bba_K36190016</a></p></strong>
    <br>
    <p><strong>Trx-nmDEF01: <a href="http://parts.igem.org/Part:Bba_K36190017">Bba_K36190017</a></p></strong>
    <br>
    <p><strong>Trx-Rs-AFP1: <a href="http://parts.igem.org/Part:Bba_K36190018">Bba_K36190018</a></p></strong>
    <br>
    <p><strong>Trx-Scarabaecin: <a href="http://parts.igem.org/Part:Bba_K36190019">Bba_K36190019</a></p></strong>
    <br>
    <p><strong>Trx-Temporin A: <a href="http://parts.igem.org/Part:Bba_K36190020">Bba_K36190020</a></p></strong>
    <br>
    <p><strong>GST-Ap2: <a href="http://parts.igem.org/Part:Bba_K36190021">Bba_K36190021</a></p></strong>
    <br>
    <p><strong>GST-EAPF1: <a href="http://parts.igem.org/Part:BBa_K3619022">BBa_K3619022</a></p></strong>
    <br>
    <p><strong>GST-Ec-AMP-D1: <a href="http://parts.igem.org/Part:BBa_K3619023">BBa_K3619023</a></p></strong>
    <br>
    <p><strong>GST-MsrA2: <a href="http://parts.igem.org/Part:BBa_K3619024">BBa_K3619024</a></p></strong>
    <br>
    <p><strong>GST-nmDEF01: <a href="http://parts.igem.org/Part:BBa_K3619025">BBa_K3619025</a></p></strong>
    <br>
    <p><strong>GST-Rs-AFP1: <a href="http://parts.igem.org/Part:BBa_K3619026">BBa_K3619026</a></p></strong>
    <br>
    <p><strong>GST-Scarabaecin: <a href="http://parts.igem.org/Part:BBa_K3619028">BBa_K3619028</a></p></strong>
    <br>
    <p><strong>GST-Temporin A: <a href="http://parts.igem.org/Part:BBa_K3619029">BBa_K3619029</a></p></strong>
    <br>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
