{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Composite Parts</h1>
<div id="body">
    <p class="ingress">On this page, all the composite parts that were used in this project are listed.</p>
    
 <h3 id="lead1">Composite Part PbrD-T7</h3>
 <p><strong>Composite part with <i>pbrT, pbrD</i> and a T7 promoter: <a href="http://parts.igem.org/Part:BBa_K3282005">BBa_K3282005</a></p></strong>
 <img class="fig" src="https://2019.igem.org/wiki/images/2/2d/T--Lund--PbT7.svg" alt="">
 <h3 id="lead1">Composite Part pbrD-Tac</h3>
 <p><strong>Composite part with <i>pbrT, pbrD</i> and a Tac promoter: <a href="http://parts.igem.org/Part:BBa_K3282007">BBa_K3282007</a></p></strong>
<img class="fig" src="https://2019.igem.org/wiki/images/a/ad/T--Lund--PbTac.svg" alt="">
<br>
 <h3 id="arsenic1">Composite Part arsR-T7</h3>
 <p><strong>Composite part with <i>arsR</i> and a T7 promoter: <a href="http://parts.igem.org/Part:BBa_K3282003">BBa_K3282003</a></p></strong>
 <img class="fig" src="https://2019.igem.org/wiki/images/2/2b/T--Lund--arsRT7.svg" alt="">
 <h3 id="arsenic1">Composite Part arsR-Tac</h3>
 <p><strong>Composite part with <i>arsR</i> and a Tac promoter: <a href="http://parts.igem.org/Part:BBa_K3282004">BBa_K3282004</a></p></strong>
 <img class="fig" src="https://2019.igem.org/wiki/images/b/bf/T--Lund--arsRTac.svg" alt="">
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
