{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Contribution</h1>
<div id="body">
    <p class="ingress">The iGEM Lund 2019 teams contribution to the registry was to the part BBa_J04450,&nbsp; Red Fluorescent Protein (RFP). RFP was incorporated in the construct to compare the protein expression in different conditions.</p>
    <br>
<p><span style="font-weight: 400;">Three different <i>E. coli</i> strains were tested in three different complex media.</span></p>
<p><span style="font-weight: 400;">The strains that were tested:&nbsp;</span></p>

<ul>
<li><i>E. coli</i> TG1 </li>
</ul>
<ul>
<li><i>E. coli</i> BL21 (DE3)</li>
</ul>

<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">E. coli </span></em><span style="font-weight: 400;">Nissle 1917 (EcN)</span></li>
</ul>
<p><span style="font-weight: 400;">While the prepared&nbsp; media were:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">LB Media&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">TB Media&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Enriched Complex Media</span></li>
</ul>
<p><span style="font-weight: 400;">For detailed information about RFP and our contribution, go to the Registry.</span></p>

</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
