{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Contribution</h1>
<div id="body">
    <p class="ingress">Our greatest contribution to the iGEM community is having added a set of eight interesting antimicrobial peptides to the iGEM registry. All of these have been proven to inhibit or kill several pathogens, and could be implemented in further work regarding treatment of various pathogens. See more information and sources by clicking the names below.</p>
    <br>
<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619012">Temporin A</a></h3>
<p>The smallest of the peptides at only 13aa, but don’t let the size fool you. Originating from skin secretions of the European common frog, <i>Rana temporaria</i>, it interferes with cell membranes and causes leakage. It has proven most potent towards gram positive bacteria and has a moderate activity towards fungi.

<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619008">MsrA2</a></h3>
<p>MsrA2 is a synthetic derivative of its cousin Dermaseptin D1 which can be found in skin secretion of the arboreal frog, <i>Phyllomedusa bicolor</i>. Expressed in plants, MsrA2 has been shown to increase the plant’s resistance towards both fungi and oomycetes.

<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619010">nmDEF02</a></h3>
<p> The defensin nmDEF02 was found in <i>Nicotiana megalosiphon</i> and has been expressed both in other plants and in yeast. It gave the plants a higher resistance to several pathogens, and isolates of the peptide proved to have an inhibitory effect on several microbes.  
<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619011">Scarabaecin</a></h3>
<p>The peptide Scarabaecin was isolated from the hemolymph of the coconut rhinoceros beetle, <i>Oryctes rhinoceros</i>. It is not toxic towards bacteria, but has shown a potent antifungal activity through chitin-binding.

<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619007">Ec-AMP-D1</a></h3>
<p>A peptide of the defensin family, originating from the annual weed barnyard grass, <i>Echinochloa crusgalli</i>. It has been proven to inhibit several fungi and oomycetes that are pathogenic to plants.

<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619006">EAFP1</a></h3>
<p>An antifungal peptide which originates from the bark of the rubber tree, <i>Eucommia ulmoides</i>. It has been shown to bind chitin which is the reason for its antifungal properties. 
  
<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619009">Rs-AFP1</a></h3>
<p>This gene originates from radish, <i>Raphanus sativus</i>, and the peptide has shown a potent antimicrobial activity. Among the tested microbes, it appears to have the highest effectiveness towards filamentous fungi.
<h3 id="process"><a href="http://parts.igem.org/Part:BBa_K3619005">Ap24</a></h3>
<p>This is actually not a peptide, but a full protein measuring up at 109 aa long. The gene originates from the plant<i> Nicotiana tabacum</i>, and the protein has potent antifungal properties through lysis of the cell wall.

</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
