{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Contribution</h1>
<div id="body">
    <p class="ingress">The iGEM Lund 2019 teams contribution to the registry was to the part BBa_J04450,&nbsp; Red Fluorescent Protein (RFP). RFP was incorporated in the construct to compare the protein expression in different conditions.</p>
    <br>
<p><span style="font-weight: 400;">Three different <i>E. coli</i> strains were tested in three different complex media.</span></p>
<p><span style="font-weight: 400;">The strains that were tested were:&nbsp;</span></p>

<ul>
<li><i>E. coli</i> TG1 </li>
</ul>
<ul>
<li><i>E. coli</i> BL21 (DE3)</li>
</ul>

<ul>
<li style="font-weight: 400;"><em><span style="font-weight: 400;">E. coli </span></em><span style="font-weight: 400;">Nissle 1917 (EcN)</span></li>
</ul>
<p><span style="font-weight: 400;">While the prepared&nbsp; media were:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">LB Media&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">TB Media&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Enriched Complex Media (ECM)</span></li>
</ul>
<h2 id="short summary">Short Summary on our Contribution</h2>
<p><span style="font-weight: 400;">The bacteria were transformed using heat shock and the protein expression was observed through fluorescent spectrometry. ECM showed the most growth in all strains tested. Rhodamin B was used as an equivalent for RFP. For EcN, the expression of Rhodamin B in ECM and TB was similar, while the expression in LB was significantly lower. For <i>E. coli</i> Bl21 (DE3), the Rhodamin B expression in TB and LB were similar, while it was significantly increased in ECM. Lastly, for <i>E. coli</i> TG1, the Rhodamin B expression in ECM and TB was similar, while it was significantly increased in LB. This is all showcased in figure 1. For more detailed information about RFP and our contribution, go to the <a href="http://parts.igem.org/Part:BBa_J04450">Registry</a></span></p>

</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
