<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Project Description</h1>
<div id="body">
<p class="ingress" >Welcome to our Project Description. This is what we in iGEM Lund set out to accomplish in the beginning of our project. Our quite ambitious plan, to remidy toxic metal exposure, described below was made into reailty, with a few adjustements. If you want to know our design, head over to our <a href="/Team:Lund/Design">project design!</a> </p>
<video class="fig" controls poster="https://2020.igem.org/wiki/images/8/82/T--Lund--protecto-thumbnail.JPG">
    <source src="https://2020.igem.org/wiki/images/f/fd/T--Lund--video.webm" type="video/webm">
</video>
<h2 id="the problem">The Problem</h2>
<p>Despite the advances from the green revolution and in genetic engineering, potato farmers and producers struggle with a problem that has plagued them for centuries. Phytophthora infestans also known as  late blight, has been unrivaled at threatening the putrification of potato crops since the eighteenth century. It is an oomycete, causing rot in infected tubers. There is no cure for ongoing infections and P. infestans sporulate, giving that  the current solution is heavy preventative usage of pesticides. 
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/3/38/T--Lund--sources.svg" alt="Sources of heavy metals.">
<p class="fig"></p>
<p>It is a reasonable strategy, since once the oomycete is discovered in the fields, it is already too late. In the U.S it was estimated that the annual costs for fungicides are $77.1 million. In addition to the pesticide expenses, P. infestans caused damage worth $210.7 million due to crop loss (J.F. GUENTHNER et al., 2001, The economic impact of potato late blight on US growers). Potato Late Blight is even more pertinent across Europe. In Sweden for instance, Potatoes account for 2% of swedish crop area, but for 21% of pesticide usage. Pesticides have been linked to world-wide deaths and chronic diseases, as well as the destruction of several plant and animal habitats (Md. Wasim Aktar et al, 2009, Impact of pesticides use in agriculture: their benefits and hazards). Taken together, the need for more efficient, environmentally friendly and non-hazardous pesticides is clear.

</p>
<img class="fig" src="https://2019.igem.org/wiki/images/b/bc/T--Lund--hm.svg" alt="Arsenic, Lead and Mercury.">
<p class="fig"></p>
<p>A further complication when it comes to preventing P. infestans is its plastic genome, meaning that it develops resistance to pesticides at a high rate. This gives that a preventative treatment requires multiple pesticides as well as interchangeable alternatives in case resistance to one compound is developed.
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/2/2b/T--Lund--map.svg" alt="">
<p class="fig"></p>
<h2 id="Inspiration">Inspiration</h2>
<p>In 2015, the Taiwanese iGEM team from NYMU Taipei, developed a pipeline with three strategies for combating late blight. One of the strategies was by producing a plant defensin, which are antimicrobial compounds, called lm-def. Their experiments showed inhibitory effects and it inspired us to try and expand on their idea.
    A possible area of improvement would be the amount of different antimicrobial peptides, which we propose would create a stronger inhibitory effect as well as increase the stability to resistance of the treatment.
    
    
</p>
<p>We realized how extensive a filtration system would have to be if it were to be implemented in bodies of water in means of reducing the amounts of TMs before entering the human body, and therefore dismissed the idea. Instead, through conversation with experts we decided to focus on preventing TM-poisoning by bioaccumulation through synthetic probiotic bacteria.
</p>
<h2 id="Our Goal">Our Goal</h2>
<p>Plants have been exposed to fungicides for millions of years, and ergo, some have developed different ways of fighting them through certain antimicrobial peptides. by combining different antimicrobial peptides and forming them into a cocktail, the end result would provide a more durable structure over time. A two-plasmid system allows for use of a fusion partner without needing to add separate protease to cleave the fusion protein. This, in turn, allows for an efficient and sustainable system. Our main goal is to be able to release this product into the environment and help put an end to Phytophthora. Hence, an optically regulated (optogenetic) kill switch was incorporated to our project design to make the future of GMOs possible. Not only that, but our project also lays ground for the development of sustainable pesticide alternatives.
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/1/1a/T--Lund--absorption.svg" alt="">
<p class="fig"></p>
<p>We aim to prove that a genetically modified biopesticide based on antimicrobial peptides can be a competitive, sustainable and ethically acceptable alternative to traditional pesticides and to draw attention to the general therapeutic potential of antimicrobial peptides. Through producing a cocktail of antimicrobial peptides, a self produced protease for fusion partner cleavage and an optically regulated (optogenetic) kill switch, we believe that an 

</p>
<h4 class="references js-toc-ignore" >References:</h4>
<ul class="references">
    <li>[1] Tchounwou PB, Yedjou CG, Patlolla AK, Sutton DJ., “Heavy metal toxicity and the environment”. 2014-08-26, Taken from [internet]: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4144270">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4144270</a></li>
    <li>[2] (SE) Kemikalieinspektionen, “lagstiftning” 2018-12-28, Taken from [internet]:<a href="https://www.kemi.se/prio-start/kemikalier-i-praktiken/lagstiftning">https://www.kemi.se/prio-start/kemikalier-i-praktiken/lagstiftning</a></li>
    <li>[3] Masindi V., Muedi KL., “Environmental Contamination by Heavy Metals” 2018-06-27, Taken from [internet]: <a href="https://www.intechopen.com/books/heavy-metals/environmental-contamination-by-heavy-metals">https://www.intechopen.com/books/heavy-metals/environmental-contamination-by-heavy-metals</a></li>
    <li>[5] Järup L., “Hazards of heavy metal contamination” 2003-12-01, Taken from [internet]: <a href="https://academic.oup.com/bmb/article/68/1/167/421303">https://academic.oup.com/bmb/article/68/1/167/421303</a></li>
    <li>[6] <a href="http://2006.igem.org/wiki/index.php/Arsenic_Biosensor">http://2006.igem.org/wiki/index.php/Arsenic_Biosensor</a></li>
    <li>[7] <a href="http://2017.igem.org/Team:FAFU-CHINA">http://2017.igem.org/Team:FAFU-CHINA</a></li>
    <li>[8] <a href="http://2017.igem.org/Team:Exeter"> http://2017.igem.org/Team:Exeter</a></li>
    <li>[9] <a href="http://2016.igem.org/Team:UConn">http://2016.igem.org/Team:UConn</a></li>
    <li>[10] <a href=" http://2016.igem.org/Team:Lanzhou"> http://2016.igem.org/Team:Lanzhou</a></li>
    <li>[11] <a href="http://2018.igem.org/Team:ColegioFDR_Peru/About">http://2018.igem.org/Team:ColegioFDR_Peru/About</a></li>
    <li>[12] Yang HC., Fu HL., Lin YF., Rosen BP., “Pathways of Arsenic Uptake and Efflux”, 2015-09-22 Taken from [internet]: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4578627/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4578627/</a></li>
    <li>[13] Mok T., Chen JS., Shlykov MA., Saier Jr MH., “Bioinformatic Analyses of Bacterial Mercury Ion (Hg2+) Transporters” 2012-06-02, Taken from [internet]: <a href="https://link.springer.com/article/10.1007%2Fs11270-012-1208-3">https://link.springer.com/article/10.1007%2Fs11270-012-1208-3</a></li>
    <li>[14] Hložková K., Šuman J.,  Strnad H., Ruml T., Paces V., Kotrba P., “Characterization of pbt genes conferring increased Pb2+ and Cd2+ tolerance upon Achromobacter xylosoxidans A8”, 2013-10-12, Taken from [internet]:
<a href="https://www.sciencedirect.com/science/article/pii/S0923250813001873?via%3Dihub#">https://www.sciencedirect.com/science/article/pii/S0923250813001873?via%3Dihub#</a></li>
</ul>


</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
