{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Project Design</h1>
<div id="body">
<p class="ingress" >This page discusses the design of the project and the theory behind it.</p>
<h3 id="js-toc-ignore">Background</h3>
<p><strong><em></em>Phytopththora infestans</strong>, or late blight, is the causal pathogen of potato late blight. In order to combat it, heavy preventative use of pesticides is required, and potatoes account for high pesticide use per crop area. In order to minimize the impact of the pesticides used, sustainable ones are necessary.The best current pesticide, oxathiapiprolin is excellent as compared to the historic ones, but <i>P. infestans</i> has a plastic genome and is prone to developing resistance, and as such a pipeline of sustainable pesticides is necessary.&nbsp;</p>
<h2 id="process">Design Process</h2>
<p>A potent, sustainable and efficiently produced antimicrobial agent is required to compete with current pesticides. Antimicrobial peptides either inhibit or kill the susceptible microorganisms, and are part of plants' and animals’ immune defense. We believe that these can be taken from one organism, transferred to another, and then serve to protect the previously vulnerable plant, much like humans requiring antibodies for their immune system to work properly. We decided to try to create a simple SynBio system to achieve this.&nbsp;</p>
<h3 id="js-toc-ignore">Expression System</h3>
<p>Our constructs are designed to be cloned into pET-11a and expressed in <i>E. coli</i> BL21 (DE3), and should have a strong expression after IPTG. With it comes the T7 promoter (code) and terminator (code) as parts. However other chassis and plasmids can likely be used with good success.
<h3 id="js-toc-ignore">Designing the composite parts</h3>
<p>The composite parts follow the same pattern, having a his-tag, fusion partner, protease cleavage site and lastly the AMP coding region, depicted in figure 1. For enterokinase, the His-tag is instead located at the C-terminal. which can be seen in figure 2.
<p> The purpose of the His-tag is to enable protein purification for later analysis. The fusion partners are either Thioredoxin 1 or Glutathione S-Transferase, which should both increase solubility and expression rates. Thioredoxin 1 could also help in catalyzing cysteine bridges of the AMPs. The Ek-cleavage site is added to enable separation of fusion partner and AMP/Ek with proteolytic cleavage of enterokinase. And lastly the AMP and Ek parts are the main functional units of the constructs.

    <br>
    <img class="fig-small" src="https://2020.igem.org/wiki/images/5/5d/T--Lund--design--1.JPG" alt="">
    <p class="fig">Figure 1: The components of the AMP insert. Fusion partner is either Trx A or GST, Cleavage site is for enterokinase and AMPs is either AMP.</p>
    <br>
    <img class="fig-small" src="https://2020.igem.org/wiki/images/4/4f/T--Lund--design--2.JPG" alt="">
    <p class="fig">Figure 2: The components of the EK insert. Fusion partner is either Trx A or GST, Cleavage site is for enterokinase and EK is enterokinase, light chain.
    </p>
<h3 id="js-toc-ignore">Activating the AMPs</h3>
<p>After successfully expressing the constructs, the AMP-fusion proteins will have to be digested by enterokinase to free the AMPs from their fusion partners. Enterokinase is expressed using a fusion partner as well, but will self-digest through auto catalyzed cleavage and become a fully active enterokinase. Enterokinase will be mixed with the individual cell lysates of the AMPs, and enterokinase will then digest the AMP-fusion proteins as seen in figure 3. This will result in free, active AMPs that are ready for application.
    <br>
    <img class="fig-small" src="https://2020.igem.org/wiki/images/d/dc/T--Lund--design-3.JPG" alt="">
    <p class="fig">Figure 3: presenting how expressed Trx-Enterokinase will first self-digest and then enterokinase will continue digesting the AMP-fusion proteins. 
<h3 id="js-toc-ignore">Double or single plasmid system</h3>
<p> The first step for expressing the AMP-fusion proteins and Trx-Enterokinase will be to express them in separate cells as shown in figure 4. Once this is successful, activation of the AMPs can be performed as described above. However we have a more delicate solution that could increase efficiency and allow for a single system to produce already active AMPs, which would not require mixing of cell lysates, this is described below.
    <br>
    <img class="fig-small" src="https://2020.igem.org/wiki/images/6/6c/T--Lund--design-4.JPG" alt="">
    <p class="fig">Figure 4: presenting the single plasmid systems, expressing AMPs and Enterokinase individually.
    <p>The second step, after initial expression of the constructs, would be to implement a double plasmid system to express both the AMP-fusion protein and Trx-Enterokinase within the same cell, see figure 3. pET-11a would still be used for the AMPs but to avoid competition of replication machinery, a plasmid with a different Ori would be used for Enterokinase. The details of this system are however not fully complete, due to unforeseen circumstances.
    <br>
    <img class="fig-small" src="https://2020.igem.org/wiki/images/5/5e/T--Lund--design-5.JPG" alt="">
    <p class="fig">Figure 5: presenting the double plasmid system, expressing AMP and Enterokinase within the same cell on different plasmids.
<h2 id="process">Testing effectivity of the AMPs</h2>
<p>Testing of the AMPs is meant to give an first indication to whether the cell lysates inhibit <i>P. infestans</i> or not, and testing will not yield any quantitative results. Having the cell lysates containing the AMPs, growth inhibition tests will be performed on <i>P. infestans</i> in three different ways. The AMPs will be tested individually to determine which AMPs that will be more likely to make up an effective cocktail. After individual testing, tests can be performed for cocktails containing several AMPs 
    <h3 id="js-toc-ignore">Inhibition of <i>P. infestans</i> growing on nutrient agar in petri dishes.</h3>
    <p> Isolates of <i>P. infestans</i> will be incubated on nutrient agar in petri dishes with the presence of cell lysates. Results of growth inhibition will be examined by eye-observations and microscopy. 

     <h3 id="js-toc-ignore">Inhibition of <i>P. infestans</i> growing on potato leaf in petri dishes.</h3>
<p> Liquid cultivations of <i>P. infestans</i> will be sprayed and incubated on single isolated potato leaves in petri dishes. Individual cell lysates will be sprayed on leaves prior to the incubation as this would more resemble the real life use of the pesticide. Growth inhibition will be observed by the eye.
    <h3 id="js-toc-ignore">Inhibition of <i>P. infestans</i> infecting a whole potato plant. </h3>
    <p>If growth inhibition tests 1 and 2 show positive results, the AMP will also be tested on infection of a whole plant. The cell lysate will be sprayed on the plant prior to spraying liquid cultivation of <i>P. infestans</i> on the plant and inbuating it. Growth inhibition will be observed by the eye.
<h2 id="js-toc-ignore">Explaining our choice of antimicrobial peptides</h2>
<p> After conducting a literature study to assemble peptides known to disrupt <i>P. infestans</i> growth, we screened on toxicity towards it, the chassi and the potato plant as well as the class of AMP, as it likely determines which mechanism it has. The ones we selected were suitable according to our criteria.
    </p>
<br>
<p>To see how it all played out, head over to the <a href="/Team:Lund/Results">Results-page</a>!</p>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
