<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Integrated Human Practices</h1>
<div id="body">
<p class="ingress">In principle, a scientific idea is just that, an idea, and requires a lot of investigation and trials to make it come to fruition. And from an idea, team iGEM Lund ventured on a journey to contact experts and take their advice, explore how the consumer would react to our product, and face ethical dilemmas that concern the public and the law. </p>

<div class="content">
      <h2 class="js-toc-ignore">Influences</h2>
      <p> Throughout our project we’ve had many professionals and students influencing and changing our core idea and methodology. 
          <a href="/Team:Lund/Human_Practices#Influences">Read more...</a>
      </p>
      <h2 class="js-toc-ignore" id="Investigating">Investigating the market</h2>
      <p>In order to investigate the market of our potential product, Prodeacc, we sought to investigate the public’s perceived danger of toxic metals as well as the public demand of our product as perceived by current companies within the field. We also investigated what precautions the layman was willing to consider in order to reduce the risk of ingesting these substances. 
          <a href="/Team:Lund/Human_Practices#Investigating the market">Read more...</a>
      </p>
      <h2 class="js-toc-ignore">SynthEthics</h2>
      <p>Last year, Erik Hartman, a member of iGEM Lund 2019 founded Synthethics alongside other iGEM members and university students. Our collaboration with them started early as produced content for their webpage which you can visit <a href="https://www.synthethics-bio.com/post/the-ethics-of-biological-kill-switches">here</a>. In addition to that, we held several meetings with Erik to discuss different ethical dilemmas and ways to get closer to changing the law. We also participated in an online lecture hosted by Synthethics for highschool students. We explained to them our project, the current misconceptions pertaining to GMO’s, and how the law limits us, other igem teams, and researchers globally from being able to obtain empirical data regarding GMO’s and their safety. </p>
</div>

<p><h2 id="Influences">Influences</h2> </p>
<p>During the first weeks of brainstorming we had weekly brainstorming-meetings with mentors and professors at Lund University (such as <b>Dr. Johan Svensson Bonde, Dr. Nelida Leiva Eriksson, Dr. Cedric Dicko</b>). With their aid we narrowed down our ideas and decided that we wanted to work with P. Infestans. Hence, we started contacting experts who are more insightful of the matter at hand. </p><br>
<p>
  One of our first influencers was <b>Dr. Maja Brus-Szkalej</b>, a research engineer at SLU whose thesis concerned <i>P. infestans</i>. After a thorough zoom meeting with her, we were able to better understand the problem. We learned that once late blight has infected an area, it is unusable and that P. infestans’ genome is highly plastic making a single great compound a risky approach. Therefore, as it is now, the only way of treating late blight is by preventing the infection to begin with, by heavy use of various pesticides. We also discussed some targets in P. infestans and some potential treatments. Her main advice was that we should aim to prevent P. infestans from contaminating the soil and to develop a method that would see this through. We kept in touch throughout the project and she was gracious enough to offer us to conduct assays at SLU provided that we had the opportunity. 
  </p><p><br>
  Our second influencer was Dr. Björn Andersson. He further confirmed what Maja taught us regarding the problem, but he also developed our understanding of the problem facing the farmers. Through our meeting with him, we learned a lot about how the pathogen behaves. We contemplated developing a P. infestans biosensor, but Björn dissuaded us, as the human eye is an effective enough instrument and preventative spraying is required anyways.  
   </p> <p><br>
    During following meetings with <b>experts and mentors</b> at Lund University we decided to work with a cocktail of antimicrobial peptides that consists of 8 different AMP’s. 
  </p> <p><br>
    During the laborations we faced many problems which we frankly didn't have the experience to deal with. We were lucky to have people such as <b>Eva Sjöblom, Jose Alfredo Zambrano Rodriguez, Karin Kettisen and Patrik Nilsson</b> close to us whom we could ask for advice. Their help with everything from genetic engineering to cultivation guided us through the jungle of complications, disputes and headaches we call 'lab-work'. 
  </p><br>
  <p><b>Research papers:</b></p>

    <p>Our project has had major influences from past iGEM teams and research papers. Here are some of the main ones:</p><br>
    <ul class="references">
    <li>Brus-Szkalej, Maja (2019). The biology and ecology of Phytophthora infestans. Diss. (sammanfattning/summary) Alnarp : Sveriges lantbruksuniv., Acta <a href= https://pub.epsilon.slu.se/16444/ >https://pub.epsilon.slu.se/16444/ </a></li>
    
    <li>Nádia Skorupa, Parachin Kelly, Cristina Mulder, et al, “Expression systems for heterologous production of antimicrobial peptides Taken from [internet]: <a href=https://www.sciencedirect.com/science/article/abs/pii/S0196978112004093?via%3Dihub>https://www.sciencedirect.com/science/article/abs/pii/S0196978112004093?via%3Dihub</a></li>
    
    <li>Kim Vriens, et al, “Antifungal Plant Defensins: Mechanisms of Action and Production”. Taken from [internet]: <a href=https://www.researchgate.net/publication/265055182_Antifungal_Plant_Defensins_Mechanisms_of_Action_and_Production>https://www.researchgate.net/publication/265055182_Antifungal_Plant_Defensins_Mechanisms_of_Action_and_Production</a></li>
    <li>TingDeng, et al “The heterologous expression strategies of antimicrobial peptides in microbial systems” Taken from [internet]:  <a href=https://www-sciencedirect-com.ludwig.lub.lu.se/science/article/pii/S1046592817304199?via%3Dihub>https://www-sciencedirect-com.ludwig.lub.lu.se/science/article/pii/S1046592817304199?via%3Dihub </a> </li> 
    <li> “Which genes have been introduced into gm crops so far and why?”, Taken from [internet]:
    <a href=https://royalsociety.org/topics-policy/projects/gm-plants/which-genes-have-been-introduced-into-gm-crops-so-far-and-why/ >https://royalsociety.org/topics-policy/projects/gm-plants/which-genes-have-been-introduced-into-gm-crops-so-far-and-why/</a></li>
    
    <br>
    <b>The main iGEM-teams that inspired and influenced our project were:</b>
    <p></p>
    <li>NYMU Taipei 2015 <a href=http://2015.igem.org/Team:NYMU-Taipei>http://2015.igem.org/Team:NYMU-Taipei</a></li>
    </ul>
    <p><h2 id="Investigating the market">Investigating the market</h2></p>
    <p>We knew that if we wanted our project to succeed, we needed to contact the consumer first hand. Lucky for us, despite Covid-19, a nearby potato farm, Gränsbo Potatis, agreed for us to visit their farm and have a meeting with them. We talked with them about the dangers of the disease and how much it costs them annually to deal with it. One of the first things the farmer Ulf mentioned was that if someone could come up with an environmentally friendly pesticide, that would generate a lot of money. Showing that there is a need for new pesticides. He didn’t oppose the idea of a genetically modified organism being used for producing the pesticide alternative as long as it complies with the law.  
    </p><br>
<p>However, given how strict the law against GMO’s in Europe is, we knew from the early start that we needed to take appropriate measures which is why we worked with SynthEthics. 
  </p><p><br>

<h2 id="In Summary">In Summary</h2>
<p> In the beginning of our project we asked ourselves the question: "What non-technical challenges needs to be adressed in order for our vision to become real?". By interacting with experts, the public and the industry, we can gladly say that we've come far in answering that question. However, we've also recognized that our efforts in ethics and legislation regarding synthetic biology on our way to reaching that goal need to be intensified, and we've therefore launched <a href="Team:Lund/SynthEthics">SynthEthics</a>.

</p>

</div>
{% include "partials/footer.nunjucks" %}
{% endblock %}
