<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div class="title-container">
    <video autoplay muted playsinline>
        <source src="https://2019.igem.org/wiki/images/e/e7/T--Lund--logo-title.webm" type="video/webm">
        <source src="https://2019.igem.org/wiki/images/8/8c/T--Lund--logo-title.mp4" type="video/mp4">
    </video>
        <img class="subtitle" src="https://2019.igem.org/wiki/images/a/a7/T--Lund--subtitle-PRODEACC.svg" alt="">

</div>
<div id="body">
<p class="ingress" >We at <b>iGEM Lund 2019</b> are genetically modifying a probiotic bacteria - <b><i>E. coli</i> Nissle 1917</b> - to increase its ability to absorb and accumulate <b>lead, arsenic and mercury</b>. Lead, arsenic and mercury are generating problems across the globe, especially in countries with poor water infrastructure such as Bangladesh and Argentina. Our product, <b>Prodeacc</b>, will be a natural and sustainable remedy to prevent toxic metal-poisoning by disposing them from your body and returning them to earth. The probiotic bacteria will enter your gut and GI-tract and act as a sponge, absorbing and accumulating lead, arsenic and mercury. It will then be excreted through natural pathways, thus removing the toxic metals from your body. With a proof of concept established, our method could be implemented in various bacteria acting on numerous metals or toxic substances.  </p>

<p class="ingress">  Below you can find links to some of the pages on this website.</p>

<h2 id="Description">Description</h2>
<video controls poster="https://2019.igem.org/wiki/images/9/93/T--Lund--description-thumbnail.png">
    <source src="https://2019.igem.org/wiki/images/3/3b/T--Lund--description.webm" type="video/webm">
    <source src="https://2019.igem.org/wiki/images/a/a3/T--Lund--description.mp4" type="video/mp4">
</video>

<p>We're focusing on the three toxic metals: arsenic, lead and mercury. For each heavy metal we’ve identified the pathways of transport and accumulation in means of overexpressing some of the necessary proteins involved. We're doing so by introducing plasmids, one for each toxic metal. <a href="/Team:Lund/Description">Read more...</a></p>
<h2 id="Model">Model</h2>
<p>By modelling the bodies uptake of metals we can investigate the effectiveness of Prodeacc. We will then be able to apply our model to real-life situations of arsenic, lead and mercury-poisoning, but also to other metals and toxic substances.</p>
<h2 id="Human-practices">Human practices</h2>
<p> Our efforts in human practices has helped us design our project and realize what needs to be done to make Prodeacc reality. </p>
<h2 id="Blog">Blog</h2>
<p>To get students interested in science and synthetic biology we’ve written articles on interesting subjects and published them on our blog. <a href="/Team:Lund/Blog">Read more...</a> </p>
<h2 id="Team">Team</h2>
<p>iGEM Lund 2019 is consistent of 11 members from around the globe. Read more about the team-members <a href="/Team:Lund/Team">here</a>.
<script>
    function hover(element) {
  element.setAttribute('src', 'https://2019.igem.org/wiki/images/9/98/T--Lund--group-photo-alt.JPG');
}

function unhover(element) {
  element.setAttribute('src', 'https://2019.igem.org/wiki/images/d/d5/T--Lund--group-photo.JPG');
}
</script>
<img class="fig" src="https://2019.igem.org/wiki/images/d/d5/T--Lund--group-photo.JPG"
onmouseover="hover(this);"
onmouseout="unhover(this);" alt="">
</p> 
</div>
<script>
    var logos = document.getElementsByClassName("logo");
    logos[0].setAttribute("id", "delay");
    logos[1].setAttribute("id", "delay");
</script>
{% include "partials/footer.nunjucks" %}

{% endblock %}
