<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div class="title-container">
    <img src="PROEACC-logo.svg" alt="">
</div>
<div id="body">
<p class="ingress" >Welcome to an early verision of the iGEM Lund wiki 2019! Stay tuned for more updates. In the mean time, you can checkout our <a href="/Team:Lund/Blog.html">blog.</a></p>
<h1 id="The Project">The Project</h2>
<p>The iGEM Lund project of 2019 is centered aroud imporving the bodys ability to get rid of ingested heavy metals.</p>

<h2>The Problem</h2>
<p>With the development of the industrial sector and the growth of their dependency on using chemicals to improve the quality of human life, it was inevitable to reach a point where some of the major byproducts released after the production process were heavy metals. During the past fifteen years, with no proper restrictions and monitoring, toxic heavy metals like Arsenic, Lead, Mercury, and Cadmium found a way to contaminate several sources to which people are exposed on daily basis. Today, heavy metal sediments can be found in drinking water, soil, and even in fish. There are also non-anthropogenic sources of heavy metals contamination, these are also a huge problem.</p>

<h2 id="Our solution">Our Proposed Solution</h2>
<p>Considering how urgent the situation is and how delicately it should be handled, our team’s goal is to engineer bacteria that can through a bioaccumulation process help get rid of heavy metals from the human body gradually and harmlessly. The final product is going to be a probiotic that can be embedded into yogurt and implemented into any dietary regimen. Its purpose will be to gradually remove heavy metals from the human body painlessly and seamlessly to avoid ever reaching the stage where the levels of toxicity become detrimental to the human health. </p>
<h1 id="The Team">The Team</h1>
<p>The 2019 iGEM Lund consists of 11 students all studying at Lund University and they have a varying academic background. Read more about them <a href="/Team:Lund/Team.html">here.</a></p>
<img class="fig" src="group-photo.JPG" alt="">
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
