<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div id="main-text">
<h1 id="title"> Probiotic Protection Against Heavy Metals</h1>
<p id="ingress" >Amet labore eveniet ea possimus officiis Expedita dolore dicta quibusdam eaque maiores Soluta numquam quos consectetur doloremque voluptatibus, ad Delectus quas delectus veniam atque exercitationem, blanditiis Soluta provident ipsum provident.</p>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
