<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Mathematical models for predicting the long term health benefits of using PRODEACC (work in progress)</h1>
<div id="body">
    <p>To better understand the long term health benefits of PRODEACC consumption, mathematical models of transformed <i>E. Coli Nissle 1917</i> colonies were developed. Unknown parameters were estimated using parameter optimization against data collected from in-vitro experiments. Ones the models could predict the toxic metal bioaccumulation in a single colony, they could be integrated into existing models describing how lead and arsenic is bioaccumulated in the human body. By comparing the output of the modified body accumulation models to the output of the non-modified model, the long term effects of PRODEACC could be assessed.</p>
<p>
To better understand this text it’s recommended to read the <a href="/Team:Lund/Description">project description</a> before continuing.
</p>
<h2 id="Modeling-growth-and-ion-accumulation in a singel colony">Single colony model</h2>

<p>
To model the growth of a single colony, its protein production, and its ions accumulation, a system of seven differential equations was devised. Equation (1) and (2) describes the colony as a whole and the concentration of ions in its growth medium, whereas equation (3) - (7) describes the changes inside the average individual cell. A graphical representation of the equation can be found in figure x. Short descriptions of the time-dependent variables can be found in table x and descriptions and approximate values of the parameters can be found in table 1.
</p>

<video class="fig" autoplay muted loop playsinline>
    <source src="https://2019.igem.org/wiki/images/d/d8/T--Lund--colony-model.webm" type="video/webm">
</video>
<p class="fig" >Animation 1: A graphical representation of the rate of change of the ions and proteins described by equation (1) and (3)-(7). </p>

<h3 id="derivatoin-of-equations">Derivation of equations</h3>
<p>
The model was devised to simulate the colony in a number of conditions, with only the values of the parameters needed to be changed. For example, for the growth rate <i>k<sub>growth</sub></i> would most likely be lower in a gut environment compared to an in-vitro environment with good pH and no competition from other microbes.

<p>
<b>Equation (1)</b> describes the rate of change of the total number of living bacteria cells in the colony. The cells are assumed to divide at a constant rate kgrowth after the lag phase is over. However, the exponential growth will not continue forever. At some point, the lack of energy will force the colony to stop dividing and will reach a stationary phase. Because of this, the term  was introduced making the growth rate stagnate once <i>N</i> reaches <i>N<sub>max</sub></i> [1].
</p>

<p>
<b>Equation (2)</b> describes the rate of change of the total number of lead or arsenic ions in the gut (or growth medium). The rate of accumulation by the colony should be a function of the number of living cells <i>N</i>, as well as the number of transport proteins per cell. The working mechanisms for the lead/ion transporter pbrT are unknown[2].  The Michaelis–Menten equation was used in order to represent the transport rate with the rational that a higher concentration of ions outside the cells would increase the probability of an ion finding its way through a transporter, but that the increment would give diminishing returns one more and more transporters work at their highest capacity.[3]
</p>

<p>
<b>Equation (2)</b> describes the change in the number of mRNAs coding for the accumulation proteins and the transport proteins. The transcription rate Itsc is assumed to be constant once the promoter has been induced. Then the mRNA will degrade att the kinetic rate kRNA-deg.
</p>

<p>
<b>Equation (2)</b> describes the rate of change in the number of transport proteins per cell. The proteins are translated from the mRNAs at a kinetic rate ktsl. The proteins are assumed to degrade at the kinetic rate kpro-deg. The kinetic rate -dN/dT/N was introduced to take into account the effective degradation due to cell growth. Every time a cell divides the average number of proteins in one cell is halved. These kinetics apply the other proteins as well.
</p>

<p>
<b>Equation (5)</b> describes the rate change in the number of free accumulation proteins. Whenever an accumulation protein binds to an ion, the accumulation protein is no longer free. This rate is proportional to the number of accumulation proteins APfree and the number of free ions in cytoplasm C. The kinetic rate kcapture was introduced to scale the rate of capture.
</p>

<p>
<b>Equation (6)</b> describes the rate of change in the number of occupied accumulation proteins, the proteins bound to an ion. The kinetics are similar to that of equation (5).
</p>

<p>
<b>Equation (7)</b> describes the rate of change in the number of free ions in the cytoplasm.
</p>


<p class ="math">
<dtex>\frac{dN}{dt} = k_{growth}\times N − k_{growth}\times\frac{N^2}{N_{max}}</dtex> 
<dtex>\frac{dG}{dt} = −\frac{V_{max}}{1+k_m/ \frac{G}{v_{gut}}}\times TP \times N</dtex> 
<dtex>\frac{d(mRNA)}{dt} = tsc − k_{RNA−deg} \times mRNA</dtex>
<dtex>\frac{d(TP)}{dt} = k_{tsl} \times mRNA − \frac{dN}{dt} \times \frac{TP}{N} − k_{pro−deg} \times TP </dtex>
<dtex>\frac{d(AP_{free})}{dt} = k_{tsl} \times mRNA − \frac{dN}{dt} \times \frac{AP_{free}}{N} − k_{pro−deg} \times AP_{free} − k_{capture} \times C \times AP_{free}</dtex>
<dtex>\frac{d(AP_{occupied})}{dt} = k_{capture} \times AP_{free} \times C − \frac{dN}{dt} \times \frac{AP_{occupied}}{N} − k_{pro−deg} \times AP_{occupied}</dtex>
<dtex>\frac{dC}{dt}= \frac{V_{max}}{1+k_m/ \frac{G}{v_{gut}}} \times TP − k_{capture} \times C \times AP_{free} + k_{pro−deg} \times  AP_{occupied} − \frac{dN}{dt} \times \frac{C}{N}  </dtex>
</p>

<button type="button" class="collapsible">Table 1: Time dependent variable</button>
<table class="collapsible-content">
  <tr>
    <th>Varible</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><i>N</i></td>
    <td>The total number of living cells in the growth medium.</td>
  </tr>
  <tr>
    <td><i>G</i></td>
    <td>The total number of ions in the growth medium.</td>
  </tr>
  <tr>
      <td><i>mRNA</i></td>
      <td>The number of mRNAs coding for the ion-transport protein and the ions accumulation protein.</td>
  </tr>
  <tr>
      <td><i>TP</i></td>
      <td>The number of transport proteins expressed in a single cell.</td>
  </tr>
  <tr>
      <td><i>AP<sub>free</sub></i></td>
      <td>The number of free accumulation protein expressed inside a single cell.</td>
  </tr>
  <tr>
      <td><i>AP<sub>occupied</sub></i></td>
      <td>The number of accumulation protein expressed a single cell, that are bound to an ion.</td>
  </tr>
  <tr>
      <td><i>C</i></td>
      <td>The number of free ions inside the cytoplasm of a single cell.</td>
  </tr>
</table>
<p></p>
<button type="button" class="collapsible">Table 2: Parameter descriptions</button>
<table class="collapsible-content">
  <tr>
    <th>Parameter</th>
    <th>Description</th>
    <th>Estimated Value</th>
    <th>Unit</th>
    <th>Notes and refereces</th>
  </tr>
  <tr>
      <td><i>V<sub>cell</sub></i></td>
      <td>Volume of <i>E.coli</i> cell.</td>
      <td>1.5e-10</td>
      <td>Litre</td>
      <td><a href="https://link.springer.com/article/10.1007%2Fs00253-013-5377-9">Allen C. S. Yu et al 2014</a></td>
  </tr>
  <tr>
    <td><i>V<sub>gut</sub></i></td>
    <td>Volume of gut</td>
    <td>1.2</td>
    <td>Litre</td>
    <td><a href="https://www.sciencedirect.com/science/article/pii/S1382668917303241?via%3Dihub"></a>Eric Dede 2018</td>
  </tr>
  <tr>
    <td><i>tsc</i></td>
    <td>Transcripton rate</td>
    <td>900</td>
    <td>mRNA/h</td>
    <td>Genes VIII, Lewin 2004. (Original unit is mRNA/min)</td>
  </tr>
  <tr>
      <td><i>k<sub>tsl</sub></i></td>
      <td>Translation rate</td>
      <td></td>
      <td>/h</td>
      <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/3071683?ordinalpos=3&itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Ehrenberg and Kurland, 1988</a></td>
  </tr>
  <tr>
      <td><i>k<sub>RNA-deg</sub></i></td>
      <td>RNA degradation rate</td>
      <td>8.3177</td>
      <td>/h</td>
      <td><a href="http://book.bionumbers.org/how-fast-do-rnas-and-proteins-degrade/">Bionumbers.org</a>, calculated from mRNA’s half life of e.coli which is  about 5 minutes.</td>
  </tr>
  <tr>
      <td><i>k<sub>pro-deg</sub></i></td>
      <td>Protein degradation rate</td>
      <td>1.0397</td>
      <td>/h</td>
      <td><a href="http://book.bionumbers.org/how-fast-do-rnas-and-proteins-degrade/">Bionumbers.org</a>, calculated from mean protein’s half life in yeast which is about 40 minutes. </td>
  </tr>
</table>
<p></p>
<button type="button" class="collapsible">Table 3: Initial conditions</button>
<table class="collapsible-content">
  <tr>
    <th>Varible</th>
    <th>Description</th>
  </tr>
</table>
<p></p>
<h3 id="parameter-optimization">Parameter Optimization</h3>
<p>
Values for the parameters that couldn't be found in the literature were estimated using data acquired from experiments. The model could be fitted to the data with the help of optimization algorithms. The acquired parameter values were the ones that yielded the lowest cost from a linear loss function. To find the lowest cost adaptive particle swarm algorithm was used[1]. Particle swarm optimization has been used with good efficiency for other non-linear ODE-parameter estimation for biological systems, where there's a big solution space[2].
</p>
<p>
Particle swarm optimization (PSO) is an optimization algorithm inspired by the movement of a group of organisms, for example, a flock of birds or a shoal of fish. An upper and a lower bound to the search space is given and the algorithm initializes by uniformly distributing the particles/organisms in the space. The solution is calculated for each particle. Each particle then moves in the search space in the direction of the vector sum of is own previous best solution and the group’s best solution. The length at which the particles moves varies from different flavors of the algorithm.[2]
</p>
<img class="fig-small" src="https://2019.igem.org/wiki/images/9/90/T--Lund--pso.gif" alt="">
<p class="fig">Animation 2: Animation showing how particles navigate the solution space and converging on the global minimum. Courtesy: Ephramac, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
<p>Data acquired from wet lab was used in order to derive the correct values for the colony model parameters. It’s important to keep in mind that the parameters are different in different conditions. For example, the growth rate kgrowth, lag phase time, and Nmax  in vitro for E. Coli Nissle 1917 with the vector XXXX was found to X, Y, and Z respectively.
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/d/d5/T--Lund--growth-fitting.svg" alt="">
<p class="fig">Figure 1: An example of how the model was fitted to wet lab data. This example shows how the parameter <i>k<sub>growth</sub></i>, <i>lag-phase</i>, and <i>N<sub>max</sub></i> was derrived for a certain scenario.
</p> 
<h2 id="body-uptake">Modelling the de-accumulating effect of the colony on the human body</h2>
<p>
The human body uptake models show how much toxic metal accumulates in different organs of the body. Each of them consists of a system of differential equations, where each differential equation describes the rate of change of the amount of toxic metal in one compartment. A compartment can be either an organ or an excretion pool. We implemented the body uptake models for Arsenic and Lead based on a paper by Eric Dede published in 2018 [1]. We then modified the models by adding differential equations describing how the bacteria colony is expected to interact with the toxic metal in the human body.
</p>
<h3 id="arsenic">Arsenic</h3>
<p>
In arsenic body uptake model, there are 12 compartments that are taken into consideration as seen in figure x1. The figure describes the dynamics between the compartments with first order rate constants. A first-order reaction has a rate proportional to the concentration of one reactant [2], meaning the higher the concentration of a toxic metal is, the faster it is being transferred to other compartments.
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/8/81/T--Lund--arsenic-model.svg" alt="">
<p class="fig">Figure 2: Overview of compartements and their relations in the arsenic body uptake model.</p>
<p>
The model also takes into account that arsenic exists in different forms in the human body. They can be inorganic ions, such as As(III) or As(V), or organic forms such as monomethylarsenic acid (MMA) or dimethylarsenic acid (DMA). There are reactions taking place in the body such that one form of arsenic is converted to another so extra terms are added to the differential equations for that. Since we model for 12 compartments and 4 forms of arsenic, there’s a total of 48 equations in the system of differential equations, 12 for each of the form of arsenic. 
</p>
<p>
We then couple the colony model from above to this human body uptake model by adding a term in the gut compartment that represents the rate of ions being absorbed by the colony of bacteria. 
</p>
<h3 id="lead">Lead</h3>
<p>The body uptake model for lead was originally developed during the 1990s[3][4][5], it was later modified in 2018[1]. There are seven compartments, as seen in figure x. To integrate the colony uptake model into the body uptake it first had to be modified. 
</p>
<img class="fig" src="https://2019.igem.org/wiki/images/f/f0/T--Lund--lead.svg" alt="">
<p class="fig">Figure 3: Overview of compartements and their relations in non-modfied the lead body uptake model.</p>
<p>The original-, modified- and colony integrated versions of the the GI-tract-liver dynamics can be seen in figure x. In the original version the oral lead intake was described as a constant rate IRgi. The rate being absorbed by the liver was described as a fraction of the daily intake. In order to integrate the colony uptake model, these dynamics had to be replaced by first order kinetic rates, similar to the body uptake model for arsenic. The daily intake IRgi was then set as an initial condition for the GI tract differential equation. The model could then be solved piecewise, each time with the initial condition G(0) = IRgi. The values for kGF and kGL could not be found in literature. To find the values for these rates, while preserving the models predictability, the parameter optimization as described earlier was used. 
</p>




</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
