{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Lab Notebook</h1>
<div id="body">
    <p class=ingress>Whenever one works on a project, it's important to keep track of what has been done. This page contain a week by week recollection of what we've done in the lab. This text was transcribed from a physical notebook used by the lab group.</p>
<h3 class="js-toc-ignore">Week 1 (8-14 July)</h3>
<p><em>E coli </em>Nissle 1917 identification:</p>
<p>Colony PCR was conducted on colonies extracted from Mutaflor&reg; -pills. The PCR product taken from pMUT2 was faulty (no bands appeared at the expected 313 bp), and it was concluded that the pMUT2 plasmid wasn&rsquo;t present in our bacteria. Two sets of new primers were designed and ordered.</p>
<p>Colony specific PCR was conducted with the correct primers, and a band was discovered at ~400 bp - EcN was isolated.</p>
<p>A trial of PCR was conducted for amplification of the ordered genblocks as they hadn&rsquo;t arrived yet.</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 2 (15-21 July)</h3>
<p>The gene-blocks arrived. They were resuspended and gradient amplification PCR and agarose gel-electrophoresis were conducted. The DNA was then purified according to the kit protocol. PCR conditions were optimal for all but the lead T7 gene-block, and different temperatures and mastermix conditions were tested until optimal conditions were found.</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 3 (22-28 July)</h3>
<p>The ends of our geneblocks and pUC19 was digested with restriction enzymes before running electrophoresis and isolating the correct genes. Ars-Tac, Ars-T7, Pb-T7 were found and purified with a purification kit. Before ligation, we precipitated the DNA-Vector mix into separate solutions. Two ratios of DNA vector were used for ligation, (Vector:DNA) 1:1 and 3:1. OD of ligated product was measured. We transformed the ligated mix with heat-shock into TG1 <em>E. coli </em>and plated over the weekend.</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 4 (29 July- 4 August)</h3>
<p>Monday morning came, no growth of cells were shown. We realised that our digestion protocol was incorrectly performed. We mixed two different buffers.&nbsp;</p>
<p>We started over with a double digestion, each buffers separately, with the restriction enzymes PcsI and NdeI.&nbsp;</p>
<p>PCR amplification and gel electrophoresis was run.</p>
<p>The gBlocks MBL and Ars-Tac, Ars-T7, Pb-T7, were purified and ligation was continued..</p>
<p>The gBlocks were then transformed into TG1. PCR amplification and gel electrophoresis was run.</p>
<p>cPCR was run to confirm transformation.</p>
<p>Julia and Mateusz</p>
<h3 class="js-toc-ignore">Week 5 (5-11 August)</h3>
<p>The rest of the crew return along with them a readily ligated ArsR-T7 plasmid arrived. The plasmid was resuspended to a final concentration of 25 ng/ &mu;L. Transformation of the ArsR-T7 plasmid was conducted into TG1, <em>E. coli </em>Nissle and <em>E. coli BL21-DE3. </em>Colony PCR was then conducted to confirm transformation. Agarose gel electrophoresis was run of the colony PCR.</p>
<p>Cultivation was made with Ars-T7 in <em>E. coli </em>Nissle and control of <em>E. coli </em>Nissle. The cultivation was done in triplicates. The monitored parameters were of pH, OD, and protein expression (with SDS-PAGE and Bradford assay).&nbsp;</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 6 (12-18 August)</h3>
<p>The same plasmid, ArsT7, was then transformed using electroporation into <em>E. coli </em>BL21-DE3.&nbsp;</p>
<p>Colony PCR was then conducted to confirm transformation.</p>
<p>Cultivation was made with Ars-T7 in <em>E. coli </em>BL21-DE3 and control of <em>E. coli </em>BL21-DE3. Different induction times were tested in this cultivation: OD600nm = 0.5 &amp; 1.2. The monitored parameters were of pH, OD, and protein expression (with SDS-PAGE and Bradford assay).&nbsp;</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 7 (19-25 August)</h3>
<p>Staining and destaining of SDS-PAGE gel.</p>
<p>Already ligated MBL-ArsR-T7 and Pb-T7-plasmids arrived. Transformation of the plasmids was achieved into <em>E. coli </em>BL21-DE3using heat shock<em>. </em>Colony PCR was conducted to confirm transformation. Results of the colony PCR were inconclusive and therefore single point digestion was done and then run on an agarose gel electrophoresis. The gBlock Pb-Tac was digested using double digestions. The pUC19 was then phosphorylated and the gBlock was ligated. The ligase was inactivated and the plasmid was transformed into <em>E.coli</em> TG1 cells. Colony PCR was conducted to confirm transformation of these cells, alongside the previously mentioned <em>E.coli </em>BL21-DE3 containing MBL-ArsRT7 and PbT7 with different annealing temperatures. Then gel electrophoresis was conducted.&nbsp;</p>
<p>Cultivation was made with Ars-T7, MBL-ArsRT7 and Pb-T7 in <em>E. coli </em>BL21-DE3, and control of <em>E. coli </em>BL21-DE3. During the cultivation different induction times were tested OD600nm = 1 , 2.5, 3.5 &amp; 6 h. The monitored parameters were of pH, OD, and protein expression (with SDS-PAGE and Bradford assay). Check the induction from the SDS</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 8 (26-1 August- September)</h3>
<p>Staining and destaining of SDS-PAGE gel was conducted.</p>
<p>Digestion of Pb-Tac, run agarose gel and continue with purification using a kit.</p>
<p>The plasmids was ligated and then transformation in <em>E. coli </em>TG1.</p>
<p>Julia, Mateusz, Savvina, Manjyot<br /><br /></p>
<h3 class="js-toc-ignore">Week 9 (2-8 September)</h3>
<p>The plasmid from the registry, BBa_J04450 was also transformed in <em>E. coli </em>TG1, <em>E. coli </em>Nissle and <em>E. coli </em>BL21-DE3<em>. </em>These were cultivated during 24 hours, parameters measured were OD and fluorescence.&nbsp;</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 10 (9-15 September)</h3>
<p>Colony PCR was done to confirm transformation. The desired transformation of cells was conducted, followed by gel electrophoresis. No clear bands were visible. Pre-culture was prepared in 5 mL LB.&nbsp;</p>
<p>Electrocompetent cells <em>E. coli </em>Nissle were prepared. Glycerol stock was also prepared.</p>
<p>Cultivation was made with Pb-Tac in <em>E. coli </em>Nissle and control of non transformed <em>E. coli </em>Nissle. The monitored parameters were , OD and protein expression (with SDS-PAGE).</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 11 (16-22 September)</h3>
<p>Staining and destaining of SDS-PAGE gel.</p>
<p>Cultivation was made with Ars-Tac ,Pb-Tac in <em>E. coli </em>Nissle alongside a control of non-transformed <em>E. coli </em>Nissle. After overnight cultivation the OD was normalized at 2h and the cultures were harvested and resuspended in new media containing different concentrations of toxic metals.The monitored parameters were OD, and toxic metal concentration which were analyzed externally.&nbsp;</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
<h3 class="js-toc-ignore">Week 12 (23-29 September)</h3>
<p>Staining and destaining of the SDS-PAGE gel.</p>
<p>The plasmid from the registry, BBa_J04450 was also transformed in <em>E. coli </em>TG1, <em>E. coli </em>Nissle and <em>E. coli BL21-DE3. T</em>hese were cultivated during 24 hours, parameters measured were OD and fluorescence.&nbsp;</p>
<p>Cultivation was made with Ars-T7 ,Pb-T7 in <em>E. coli </em>BL21-DE3 and control of <em>E. coli </em>BL21-DE3 as well as Ars-Tac ,Pb-Tac in <em>E. coli </em>Nissle and control of <em>E. coli </em>Nissle. The pH in the culture was adjusted to a lower value in order to mimic conditions similar to the digestion process. After overnight cultivation, the OD was normalized at 2h and the cultures were harvested and resuspended in new media containing different concentrations of toxic metals. The monitored parameters were of pH, OD, and toxic metal concentration which were analyzed externally.&nbsp;</p>
<p>Julia, Mateusz, Savvina, Manjyot</p>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
