{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Parts</h1>
<div id="body">
    <p class="ingress">Our parts consist of basic parts coding for fusion partners, protease, protease cleavage site, 6xHis-tag and our set of eight AMPs. The composite parts are built up by these basic parts into two major sets: AMPs fused to partner Thioredoxin 1 and AMPs fused to partner Glutathione S-Transferase. We have a separate composite part for expression of the protease Enterokinase, which uses the fusion partner Thioredoxin 1.</p>
    
 <h2 id="basic-parts">Basic Parts</h2>


 <p><strong>TrxA: <a href="http://parts.igem.org/Part:BBa_K3619001">Bba_K3619001</a></strong></p>
 <p> Encoding the protein Thioredoxin 1 which was used as a fusion partner.</p><br>
 <p><strong>GST: <a href="http://parts.igem.org/Part:BBa_K3619002">Bba_K3619002</a></strong></p>
 <p>Encoding the protein Glutathione S-Transferase which was used as a fusion partner.</p>
<br>
 <p><strong>Enterokinase: <a href="http://parts.igem.org/Part:BBa_K3619003">Bba_K3619003</a></strong></p>
 <p>Encoding the protease Enterokinase, which would be used to cleave the fusion proteins.</p><br>
 <p><strong>Enterokinase cleavage site: <a href="http://parts.igem.org/Part:BBa_K3619004">Bba_K3619004</a></p></strong>
 <p>Encoding the cleavage site of Enterokinase, added between fusion partner and AMP.</p><br>
<p><strong>6xHis tag: <a href=" http://parts.igem.org/Part:BBa_K112703">BBa_K112703</a></p></strong>
<p>Encoding a his-affinity tag for possible later purification.
</p>
<h3 id="basic-parts">Anti-microbial peptides</h3>
<p><strong>Ap24: <a href=" http://parts.igem.org/Part:BBa_K3619005">Bba_K3619005</a></strong></p>
 <p>
<p><strong>EAFP1: <a href="http://parts.igem.org/Part:BBa_K3619006">Bba_K3619006</a></strong></p>
 <p>
<p><strong>Ec-AMP-D1: <a href="http://parts.igem.org/Part:BBa_K3619007">Bba_K3619007</a></strong></p>
    <p>
<p><strong>MsrA2: <a href="http://parts.igem.org/Part:BBa_K3619008">Bba_K3619008</a></strong></p>
 <p>
<p><strong>Rs-AFP1: <a href="http://parts.igem.org/Part:BBa_K3619009">BBa_K3619009</a></strong></p>
    <p>
<p><strong>nmDEF02: <a href="http://parts.igem.org/Part:BBa_K3619010">BBa_K3619010</a></strong></p>
 <p>
 <p><strong>Scarabaecin: <a href="http://parts.igem.org/Part:Bba_K36190011">Bba_K36190011</a></strong></p>
    <p> 
<p><strong>Temporin A: <a href="http://parts.igem.org/Part:Bba_K36190012 ">Bba_K36190012 </a></strong></p>
 <p>

 <h2 id="basic-parts">Composite Parts</h2>
 <p></p>
 <h3 id="Composite Parts">Protease</h3>
 <p><strong>Trx-Ek: <a href="http://parts.igem.org/Part:Bba_K3619030">Bba_K3619030</a></p></strong>
 <img class="fig" src="https://2019.igem.org/wiki/images/2/2d/T--Lund--PbT7.svg" alt="">
 <br>
 <h3 id="Composite Parts">AMP parts</h3>
 <p><strong>Trx-Ap2: <a href="http://parts.igem.org/Part:Bba_K36190013">Bba_K36190013</a></p></strong>
 <img class="fig" src="https://2019.igem.org/wiki/images/2/2d/T--Lund--PbT7.svg" alt="">
 <br>
 <p><strong>Trx-EAFP1: <a href="http://parts.igem.org/Part: Bba_K36190014"> Bba_K36190014</a></p></strong>
 <br>
 <p><strong>Trx-Ec-AMP-D1: <a href="http://parts.igem.org/Part:Bba_K36190015">Bba_K36190015</a></p></strong>
 <br>
 <p><strong>Trx-MsrA2: <a href="http://parts.igem.org/Part:Bba_K36190016">Bba_K36190016</a></p></strong>
 <br>
 <p><strong>Trx-nmDEF01: <a href="http://parts.igem.org/Part:Bba_K36190017">Bba_K36190017</a></p></strong>
 <br>
 <p><strong>Trx-Rs-AFP1: <a href="http://parts.igem.org/Part:Bba_K36190018">Bba_K36190018</a></p></strong>
 <br>
 <p><strong>Trx-Scarabaecin: <a href="http://parts.igem.org/Part:Bba_K36190019">Bba_K36190019</a></p></strong>
 <br>
 <p><strong>Trx-Temporin A: <a href="http://parts.igem.org/Part:Bba_K36190020">Bba_K36190020</a></p></strong>
 <br>
 <p><strong>GST-Ap2: <a href="http://parts.igem.org/Part:Bba_K36190021">Bba_K36190021</a></p></strong>
 <br>
 <p><strong>GST-EAPF1: <a href="http://parts.igem.org/Part:BBa_K3619022">BBa_K3619022</a></p></strong>
 <br>
 <p><strong>GST-Ec-AMP-D1: <a href="http://parts.igem.org/Part:BBa_K3619023">BBa_K3619023</a></p></strong>
 <br>
 <p><strong>GST-MsrA2: <a href="http://parts.igem.org/Part:BBa_K3619024">BBa_K3619024</a></p></strong>
 <br>
 <p><strong>GST-nmDEF01: <a href="http://parts.igem.org/Part:BBa_K3619025">BBa_K3619025</a></p></strong>
 <br>
 <p><strong>GST-Rs-AFP1: <a href="http://parts.igem.org/Part:BBa_K3619026">BBa_K3619026</a></p></strong>
 <br>
 <p><strong>GST-Scarabaecin: <a href="http://parts.igem.org/Part:BBa_K3619028">BBa_K3619028</a></p></strong>
 <br>
 <p><strong>GST-Temporin A: <a href="http://parts.igem.org/Part:BBa_K3619029">BBa_K3619029</a></p></strong>
 <br>
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
