<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div class='group'><h1 class='title'> TEAM MEMBERS</h1></div>
<div id='team-page'>
    <div class='person'>
    <img class='avatar' src='portrait_Arvid.png'>
        <div class='bio'>    
                <h3>Arvid Larsson</h3>
                <h5>Master in Applied Physics</h5>
                <p>We will be updating soon!</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Hampus.png'>
        <div class='bio'>
            <h3>Hampus Ekström</h3>
            <h5>Master in Nanotechnology</h5>
            <p>We will be updating soon!</p>
        </div>    
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Erik.png'>
        <div class='bio'>
            <h3>Erik Hartman</h3>
            <h5>Bachelor in Medical Engineering</h5>
            <p>We will be updating soon!</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Viktor.png'>
        <div class='bio'>
            <h3>Viktor Ekström</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p>We will be updating soon!</p>
        </div>  
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Eneas.png'>
        <div class='bio'>
            <h3>Eneas Hållsten</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p>We will be updating soon!</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Manjyot.png'>
        <div class='bio'>
            <h3>Manjyot Kaur</h3>
            <h5>Master in Biotechnology</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Mateusz.png'>
        <div class='bio'>
            <h3>Mateusz Piotr Szewczyk </h3>
            <h5>Master in Biotechnology</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Savvina.png'>
        <div class='bio'>
            <h3>Savvina Leontakianakou </h3>
            <h5>Master in Biotechnology</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Julia.png'>
        <div class='bio'>
            <h3>Julia Thomasson </h3>
            <h5>Bachelor in Biotechnology</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>
    
    <div class='person'>
        <img class='avatar' src='portrait_Lan.png'>
        <div class='bio'>
            <h3>Lan Hoa Diep </h3>
            <h5>Bachelor in Mathematics</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Amr.png'>
        <div class='bio'>
            <h3>Amr Ghazal</h3>
            <h5>Bachelor in Physics</h5>
            <p>We will be updating soon!</p>
        </div>      
    </div>
</div>

<div class='group'><h1 class='title'>SUPERVISORS</h1></div>

{% include "partials/footer.nunjucks" %}

{% endblock %}
