<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div id="main-text">
       <h1 id="title">A brief history: Probiotics</h1>
       <p class="ingress">Probiotics, an emerging field of medicine, has been praised and condemned by both experts and the public. It concerns the microorganisms interacting with you, their host, and the possible health benefits they may provide for you. As new research looms, we’re more and more certain that microbes cooperate with us in several ways. Perhaps we are the ones cooperating with them. After all, they were here before us.</p>
       <p>The host-microbe interaction was first discovered by Antonie van Leeuwenhoek, a 17th-century working-man from Delft. Van Leeuwenhoek's meticulous artistry enabled him to produce refined lenses, allowing for the observation of microbes. Doing so, a whole new world opened up for the scientific community at the time. Biologist who had only been interested in the macro and comparatively colossal world of mammals and insects were now delving into the world of the miniscule. This was the beginning of the microbial era. 
</p>
       <h2 id="symbiotic evolution">Symbiotic Evolution</h2>
       <p>The common viewpoint has long been that the microbes have adapted to us. We developed an intestinal tract and they inhabited it. However, this anthropocentric assumption can easily be rebutted by applying the simple statement: they were here before us. It would then seem illogical and unsatisfactory to believe that we developed an intestinal tract and they inhabited it. Instead, it would now seem obvious that a symbiotic and interdependent relationship developed and perhaps even with the microbes in the lead, we constructed an intestinal tract for them to inhabit. We evolved symbiotically. 
</p>
<p>This revolutionary understanding altered our perception of microbes. It would now seem inevitable that they influence us to an extent previously unimaginable. Richard Dawkins famously applied the following analogy to the relationship between genes and organisms in his book The Selfish Gene: 

<p class="big-cite">“We are survival machines — robot vehicles blindly programmed to preserve the selfish molecules known as genes”.</p> 

Perhaps, a similar analogy could be applied to the relationship between microbes and its host.
</p>
<h2 id="What do gut bacteria do?">What do gut bacteria do?</h2>
<p>Microbes have a wide variety of effects on its host. Some effects have even proven to be structural, aiding the development of organs. Others assist our metabolism or even protect us from pathogens. New research introduces the concept of microbes affecting our nervous system - ultimately altering our state of mind. Studies on the topic are constantly emerging and microbes will prove to interact with us in ways previously inconceivable.  </p>
<img src="https://2019.igem.org/wiki/images/7/7e/T--Lund--euprymna_scolopes.png" alt="">
<p id=Euprymna class=fig>Euprymna scolopes has an organ which growth is dependent on the presence of a special luminous bacteria. The organ illuminates the squids bottom, confusing predators on the hunt. Photo: Chris Frazee and Margaret McFall-Ngai
</p>
<h2 id="Today's market">Today's market of probiotics</h2>
<p>The main focus of the probiotic market is currently on the gut flora. Having a poor gut microbiome entails health issues such as poor digestion, poor metabolism, an increased risk of heart disease and many more. Improving your gut microbiome would therefore prove extremely beneficial for your health, something companies quickly realised. What they didn’t realise was the complexity and intricacy of the several millions of interactions our microbiome has. This ultimately led to the demise of the reputation of probiotics as many of the promised effects were barely noticeable or even non-existent.  
</p>
<p>New companies focus on research-based formulas in a means to salvage the reputation of probiotics. As more research emerges, it seems clear to us that an unhealthy microbiome is a contributor to many diseases which prove detrimental for our health. Therefore, supplementing, altering or modifying the microbiome for the better could be a key factor in treating many of those diseases in a sustainable and effective way. Using solutions brought on by nature itself is often proven to be the most viable alternative, however, slight modifications for the better could improve on nature’s own system even more. </p>
<h2 id="our focus">Our focus</h2>
<p>
iGEM Lund is a research team focusing on using synthetic biology to modify a probiotic bacteria to surpass natures innate abilities, something we’re very excited about. </p>
<p class="byline">- Erik Hartman, the iGEM Lund research team</p>
    </div>

{% include "partials/footer.nunjucks" %}
{% endblock %}
