{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Safety</h1>
<div id="body">

        <h2 id=">General Lab Safety">General Lab Safety</h2>
        <p>Our main workspace is a BSL1 research laboratory belonging to the <a href="http://www.tbiokem.lth.se/english/research/gene-group/">Gene Group</a> at the Department of Pure and Applied Biochemistry which follows specific <a href="http://www.kc.lu.se/english/general-safety-regulations/">guidelines and regulations for safety procedures</a>. Before initiating our work in the lab, every member on the team went through a safety-introduction that covered the basis of all protocols related to our work. In addition to that, we received protocols regarding fire emergencies and hazardous spillage of chemicals. These were all given by the responsible project advisor and researcher at our department.Safety measures in response to the covid situation were also undertaken and practised. </p>
        <br>
        <h2 id="Types of organisms used">Types of organisms used</h2>
        <h3 id="js-toc-ignore">We used E.coli Bacteria for our project work</h3>
        <p>
        <ol>
        <li>BL21 (DE3) Competent E. coli </li>
        <li>TG1 competent cells ( E. coli)</li>
        </ol>
        </p>
        <p>E. coli BL21 (DE3) and TG1 competent cells belong to Biosafety level 1 which means it won't cause any harm to the handler as well as colleagues in the laboratory. Both of these E. coli strains are considered to be non-pathogenic and unlikely to survive in host tissues and cause disease and are also relatively unlikely to affect the environment. </p>

        <h2 id="Project Safety">Project Safety</h2>
        <p> Our P.I gave us a detailed explanation of various safety rules, regulations, methods and risks involved in handling various instruments, chemicals and machineries which were used in our project. This included elaborations on protective safety wears to be used while performing different experiments, techniques to be used in different experiments, information about first aid kit usage, safety exits, fire extinguishers, emergency showers, ventilation, alarms and further safety and precautionary measures to be taken in case of any emergency. </p>
        <p>More insights into the quality of work like sterilization of the equipments and components before and after usage in the experiments, maintaining a sterile workbench and practising good microbial handling techniques in order to prevent any contamination were also addressed by our P.I. </p>
        <p>We followed the lab safety practice according to the instructions compiled by the department’s safety coordinator of our university. All experiments were carried out with standard protocols provided by supervisors or experts who have carried out these experiments in prior. Any changes in the working routine were double checked by the supervisor before the work was done. Internal risk assessments were made for all the experiments by the students and were checked by the supervisors before each experiment was conducted. This included risk assessments for each chemical, instrument and technique used in the experiments.

        </p>
        <p>We practised the use of protective clothing, eye protection glasses, gloves during our experimentation work as a safety measure and to prevent any contamination. Handling of hazardous, flammable and volatile chemicals were carried out inside fume cabinets. Bacterial wastes were autoclaved before disposal and other waste handling was done accordingly to the waste disposal instructions provided in our university's safety practices.</p>
        <p>All the AMP’s that we used in the experiment were individually checked for toxicity towards bacteria, humans, plants, fungi and environment by analysing its properties using various  databases and literature studies and were found to be non-toxic to be able to be used in the laboratory environment.
        </p>
        <p>Due to the pandemic situation, safety measures with respect to number of people  like not more than two people working in the lab bench and safe distance measure was practised wherever possible during the laboratory work.
                </p>
 
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
