{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore">Safety</h1>
<div id="body">
       <p class="ingress">Since our project is centered around the accumulation of toxic metals, we ourselves had to deal with the dangerous substances. This is why it was imperative for the lab safety precautions to be taken with utmost consideration.</p>
        <br>
        <h2 id=">General Lab Safety">General Lab Safety</h2>
        <p>Our main workspace is a BSL1 research laboratory belonging to the <a href="http://www.tbiokem.lth.se/english/research/gene-group/">Gene Group</a> at the Department of Pure and Applied Biochemistry which follows specific <a href="http://www.kc.lu.se/english/general-safety-regulations/">guidelines and regulations for safety procedures</a>. Before initiating our work in the lab, every member on the team went through a safety-introduction that covered the basis of all protocols related to our work. In addition to that, we received protocols regarding fire emergencies and hazardous spillage of chemicals. These were all given by the responsible project advisor and researcher at our department.</p>
        <br>
        <h2 id="Project Safety">Project Safety</h2>
        <p> Prior to every experiment we filled in a detailed risk assessment of every experimental procedure that was to be performed. The bacteria that were used were not likely to pose any threat to human or animal lives and the wet lab work fell under the Swedish biosafety level 1. Precautionary measures were taken through safety labwear, gloves&nbsp; and goggles. In addition to that, toxic metals like arsenic or lead were handled exclusively by the wet lab members (who were experienced in sensitive lab-work), nitrile gloves were used, exposure was limited to five hours per day, and careful protocols were implemented to dispose of these compounds. Regarding the disposal of toxic metals, all solutions and cultures containing toxic metal solutions were gathered, autoclaved, and carefully disposed by a specialized company that is responsible for that. Our project fulfills the general safety requirements set forth by iGEM organization.</p>
 
</div>
{% include "partials/footer.nunjucks" %}

{% endblock %}
