<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore"></h1>
<div id="body">
    <img class="title" src="https://2019.igem.org/wiki/images/d/d3/T--Lund--SynthEthics.svg" alt="SynthEthics">
    <p>After visiting companies specializing in probiotics we started to investigate the current legislation governing over synthetic biology in the EU and the US. At the BioBrick event at DTU we decided to collaborate with iGEM Copenhagen, since they were working with ingestible GMOs (yeast) which would be governed by similar regulations. This started a legislation project with the aim to research the current laws.</p>

<p>
We at iGEM Lund took the lead in the project. We contacted the main legislative authorities in Sweden: <b>Gentekniknämnden (The Swedish Gene Technology Advisory Board)</b> and <b>livsmedelsverket (National Food Agency)</b>. We engaged in dialogue with <b>Marie Nyman</b>, Head of The Swedish Gene Technology Advisory Board and <b>Ann Mohlén Årling</b>, the Principal Regulatory Officer and Legal Advisor at the National Food Agency. We concluded that a probiotic GMO would be difficult to market due to a lack of specificity and coverage in the current laws. 
</p>
<p>
At the NiC iGEM Stockholm decided to join the collaboration, and we discussed the next steps. Due to the large amount of research we’ve done at iGEM Lund, iGEM Stockholm invited us to talk about the current regulations in the EU and the US regarding synthetic biology at an event they hosted. </p>
<img class="fig" src="https://2019.igem.org/wiki/images/b/b3/T--Lund--SynthEthics_Seminar.jpg" alt="SynthEthics_Seminar">
<p>After extensive research, we decided that instead of aiming for a supplemental law, it would be more realistic to go one step more fundamental and discuss the ethics on which laws about synthetic biology are to be founded. This started the bioethics project. 
</p>
<p>Together with iGEM Stockholm, we settled on a methodology with the aim to thoroughly investigate the ethics of the future of genetic engineering. The methodology is based on collaboration with students to come up with relevant questions that requires an answer in order to establish a moral foundation. The questions are then to be distributed amongst peers, professors and other iGEM-teams in order to get their view on what the future of synthetic biology and genetic engineering should look like. 
</p>
<p>A team of 8 students from universities all over the world were gathered in order to formulate ethical dilemmas and thus the project set off. In August two forms had been designed; <a href="https://2019.igem.org/wiki/images/6/6a/T--Lund--Synthethics_questionnaire.pdf">one for educated experts,</a>  <a href="https://forms.gle/CZ4nB2K7P1UT4zWBA">and one for the public.</a>. The forms were sent out to their relative audiences, and the collaborations began. 
</p>
<p>We can conclude that the opinions of the public and of experts are very scattered. Luckily 88% agree that it is morally acceptable to change the functions of a cell in a micro-organism for programmed use (unfortunately 12% disagree with the practice of synthetic biology), something we considered a safe bet when formulating the questions. However, there is massive disagreement regarding: the rights of synthetically engineered organisms, Below some of the results are presented in pie-charts.</p>
<h3 class="js-toc-ignore">1. Should genetic engineering be used to eliminate the genes causing mental variations (e.g. Autism, Bipolar Disorder, etc)?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/9/96/T--Lund--q1.svg" alt="">
<h3 class="js-toc-ignore">2. It is known that genes affect many, if not all, of our cognitive and physical traits to some degree. Should genetic engineering be used to enhance human mental, physical and social abilities to accommodate for the modern world, politics and culture? </h3>
<img class="fig" src="https://2019.igem.org/wiki/images/f/f6/T--Lund--q2.svg" alt="">
<h3 class="js-toc-ignore">3. Should modifications that affect the above-mentioned traits be available even if everyone does not have access to them?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/c/c5/T--Lund--q3.svg" alt="">
<h3 class="js-toc-ignore">4. In case of life-threatening diseases, should the potential benefits of gene therapies outweigh the risk of harmful effects, even if sometimes severe?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/b/bf/T--Lund--q4.svg" alt="">
<h3 class="js-toc-ignore">5. Today, it takes little effort to order genes to ones' front door, and later use them in do-it-yourself home experiments which contributes to the stimulation of creativity and science. However, in the wrong hands, this could lead to terrible consequences on a global scale in the case of e.g. terrorists creating a biological weapon. Should access to buying genes be available for everyone, or only licensed researchers?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/d/d4/T--Lund--q5.svg" alt="">
<h3 class="js-toc-ignore">6. Explore the conflict between intellectual property rights (rights to an idea or concept) and synthetic biology. In 2013, the US Supreme High Court ruled that human genes could not be patented but left engineered DNA open to being patented. Should you be able to patent engineered human genes?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/4/47/T--Lund--q6.svg" alt="">
<h3 class="js-toc-ignore">7. Should a synthetically engineered organism receive the same rights as the original non-engineered organism (organism being anything from bacteria to humans)?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/d/d1/T--Lund--q7.svg" alt="">
<h3 class="js-toc-ignore">8. Is it morally acceptable to change the functions of a cell in a micro-organism for programmed use?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/0/04/T--Lund--q8.svg" alt="">
<h3 class="js-toc-ignore">9. Would it be acceptable to change the functions of a human cell for programmed use?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/1/12/T--Lund--q9.svg" alt="">
<h3 class="js-toc-ignore">10. Should much focus be given to analysing the consequences of biological threats which have a low probability of occurrence but come with terrible consequences?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/6/63/T--Lund--q10.svg" alt="">
<h3 class="js-toc-ignore">11. Is it morally acceptable to genetically remove the genes responsible for behaviour in domesticated animals such as fear of slaughter or confinement to reduce the suffering they experience during the domestication?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/b/b7/T--Lund--q11.svg" alt="">
<h3 class="js-toc-ignore">12. Should we genetically engineer endangered species for the purpose of preservation (by increasing its fitness)?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/6/67/T--Lund--q12.svg" alt="">
<h3 class="js-toc-ignore">13. Should we genetically engineer pests to decrease their survival-ability and possibly remove them to extinction?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/3/3e/T--Lund--q13.svg" alt="">
<h3 class="js-toc-ignore">14. The future of synthetic biology and genetic engineering may allow the revival of extinct species. Is it ethically correct to bring back an ancient species for our benefit or pleasure? E.g. Theme parks or zoos. </h3>
<img class="fig" src="https://2019.igem.org/wiki/images/c/c1/T--Lund--q14.svg" alt="">
<h3 class="js-toc-ignore">15. Imagine, if all spiders died, flies would multiply rapidly and the world would seek a new ecological equilibrium. Should we seek to bring back spiders to counter the shift?</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/a/af/T--Lund--q15.svg" alt="">
<h3 class="js-toc-ignore">16. Synthetic biology could one day allow us to engineer organisms that can thrive on other planets. If we encounter signs of simple life (recognisable as bacteria or lower)  on other planets, is it ethical to invade these planets with our genetically engineered organisms for our benefit? Imagine a planet-sized farm with huge economical gain.</h3>
<img class="fig" src="https://2019.igem.org/wiki/images/5/53/T--Lund--q16.svg" alt="">

<p>At the present moment SynthEthics have gotten mentions in many areas, such as debates, ethic-classes and podcasts, and we’re also getting ready for a major event regarding the future of synthetic biology. We’ve received a lot of feedback many responses and are preparing for a culminating article in the area.</p>
<p> <a href="https://2019.igem.org/wiki/images/6/6a/T--Lund--Synthethics_questionnaire.pdf">Click here to view the form for the experts, and feel free to respond to it!</a></p>
<p><a href="https://forms.gle/CZ4nB2K7P1UT4zWBA">Click here to view form for the public</a></p>
</div>
{% include "partials/footer.nunjucks" %}
{% endblock %}
