<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title" class="js-toc-ignore"></h1>
<div id="body">
    <img class="title" src="https://2019.igem.org/wiki/images/d/d3/T--Lund--SynthEthics.svg" alt="SynthEthics">
<p></p>
   <p>After visiting companies specializing in probiotics we started to investigate the current legislation governing over synthetic biology in the EU and the US. At the BioBrick event at DTU we decided to collaborate with iGEM Copenhagen, since they were working with ingestible GMOs (yeast) which would be governed by similar regulations. This started a legislation project with the aim to research the current laws.
   </p><p>
We at iGEM Lund took the lead in the project. We contacted the main legislative authorities in Sweden: <b>Gentekniknämnden (The Swedish Gene Technology Advisory Board)</b> and <b>livsmedelsverket (National Food Agency)</b>. We engaged in dialogue with <b>Marie Nyman</b>, Head of The Swedish Gene Technology Advisory Board and <b>Ann Mohlén Årling</b>, the Principal Regulatory Officer and Legal Advisor at the National Food Agency. We concluded that a probiotic GMO would be difficult to market due to a lack of specificity and coverage in the current laws. 
</p><p>
At the NiC iGEM Stockholm decided to join the collaboration, and we discussed the next steps. Due to the large amount of research we’ve done at iGEM Lund, iGEM Stockholm invited us to talk about the current regulations in the EU and the US regarding synthetic biology at an event they hosted. </p>
<img class="fig" src="https://2019.igem.org/wiki/images/b/b3/T--Lund--SynthEthics_Seminar.jpg" alt="SynthEthics_Seminar">
<p>After extensive research, we decided that instead of aiming for a supplemental law, it would be more realistic to go one step more fundamental and discuss the ethics on which laws about synthetic biology are to be founded. This started the bioethics project. 
</p>
<p>Together with iGEM Stockholm, we settled on a methodology with the aim to thoroughly investigate the ethics of the future of genetic engineering. The methodology is based on collaboration with students to come up with relevant questions that requires an answer in order to establish a moral foundation. The questions are then to be distributed amongst peers, professors and other iGEM-teams in order to get their view on what the future of synthetic biology and genetic engineering should look like. 
</p>
<p>A team of 8 students from universities all over the world were gathered in order to formulate ethical dilemmas and thus the project set off. In August two forms had been designed; <a href="https://2019.igem.org/wiki/images/6/6a/T--Lund--Synthethics_questionnaire.pdf">one for educated experts,</a>  <a href="https://forms.gle/CZ4nB2K7P1UT4zWBA">and one for the public.</a>. The forms were sent out to their relative audiences, and the collaborations began. 
</p>
<p>At the present moment SynthEthics have gotten mentions in many areas, such as debates, ethic-classes and podcasts, and we’re also getting ready for a major event regarding the future of synthetic biology. We’ve received a lot of feedback many responses and are preparing for a culminating article in the area.</p>
</p>
<p> <a href="https://2019.igem.org/wiki/images/6/6a/T--Lund--Synthethics_questionnaire.pdf">Click here to view the form for the experts, and feel free to respond to it!</a></p>
<p><a href="https://forms.gle/CZ4nB2K7P1UT4zWBA">Click here to view form for the public</a></p>
</div>
{% include "partials/footer.nunjucks" %}
{% endblock %}
