<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<div id="body" >
    <h1>Team Members</h1>
    <div class='person'>
        <img class='avatar' src='portrait_Arvid.png'>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Arvid Larsson</h3>
            <h5>Master in Applied Physics</h5>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, tortor eu volutpat ornare, lorem eros blandit magna,et dignissim metus lorem eget massa.n augue nulla, fermentum eget egestas eu, porta in magna.Morbi id elit fringilla purus cursus vestibulum non in risus.Quisque varius venenatis mauris eget egestas. Nunc eget enim purus. Aenean quis bibendum neque.</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Hampus.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Hampus Ekström</h3>
            <h5>Master in Nanotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>    
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Erik.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Erik Hartman</h3>
            <h5>Bachelor in Medical Engineering</h5>
            <p class="description">We will be updating soon!</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Viktor.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Viktor Ekström</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>  
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Eneas.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Eneas Hållsten</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Manjyot.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Manjyot Kaur</h3>
            <h5>Master in Biotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Mateusz.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Mateusz Piotr Szewczyk </h3>
            <h5>Master in Biotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Savvina.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Savvina Leontakianakou </h3>
            <h5>Master in Biotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Julia.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Julia Thomasson </h3>
            <h5>Bachelor in Biotechnology</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Lan.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Lan Hoa Diep </h3>
            <h5>Bachelor in Mathematics</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>

    <div class='person'>
        <img class='avatar' src='portrait_Amr.png'>
        <div class='bio'>
            <h3 class="js-toc-ignore">Amr Ghazal</h3>
            <h5>Bachelor in Physics</h5>
            <p class="description">We will be updating soon!</p>
        </div>      
    </div>
    <h1>Supervisors</h1>

</div>

{% include "partials/footer.nunjucks" %}

{% endblock %}
