<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title">Team Members</h1>
<div id="body" >
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/6/60/T--Lund--arvid.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/f/ff/T--Lund--arvid.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Arvid Larsson</h3>
            <h5>Master in Applied Physics</h5>
            <h5><a href="https://www.linkedin.com/in/arvid-larsson/">linkedin.com/in/arvid-larsson/</a></h5>
            <p>He is iGEM Lunds only team leader that is tolerant to gluten. Over the year he has been a part of the development and the implementation of the computer models. He is also responsible for the web development, as well as emotional support for the lab focus group when times are tough. Arvid has a background in applied physics and electrical engineering, and is currently doing his masters degree in Machine Intelligence at LTH.</p>
        </div>
    </div>

    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/9/9a/T--Lund--hampus.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/e/e0/T--Lund--hampus.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Hampus Ekström</h3>
            <h5>Master in Nanotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>

    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/1/12/T--Lund--lan.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/1/1b/T--Lund--lan.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Lan Hoa Diep</h3>
            <h5>Bachelor in Mathematics</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>

    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/e/e5/T--Lund--viktor.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/c/c2/T--Lund--viktor.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Viktor Ekström</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
    
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/e/e7/T--Lund--amr.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/4/4d/T--Lund--amr.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Amr Ghazal</h3>
            <h5>Bachelor in Physics</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
    
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/9/9a/T--Lund--erik.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/e/e7/T--Lund--erik.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Erik Hartman</h3>
            <h5>Bachelor in Medical Engineering and Bacehlor in Biomedicine</h5>
            <h5> <a href="https://www.linkedin.com/in/erik-hartman-155b98170/">linkedin.com/in/erik-hartman/</a></h5>
            <p>He is a heavy lifter both literally and figuratively. Erik has led and founded the ambitious Human Practices project, SynthEthics, which aims to layout an ethical ground for which future progress in synthetic biology can be built upon. He has many years of experience in practical science, despite being the youngest team member.</p>
        </div>
    </div>

    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/8/8b/T--Lund--eneas.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/f/f9/T--Lund--eneas.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Eneas Hållsten</h3>
            <h5>Bachelor in Nanotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
    
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/d/dc/T--Lund--manyout.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/a/a3/T--Lund--manyout.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Manjyot Kaur</h3>
            <h5>Master in Biotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
    
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/0/0a/T--Lund--mateusz.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/9/92/T--Lund--mateusz.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Mateusz Piotr Szewczyk</h3>
            <h5>Master in Biotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
    
    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/e/e3/T--Lund--savvina.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/b/b3/T--Lund--savvina.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Savvina Leontakianakou</h3>
            <h5>Master in Biotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>

    <div class='person'>
        <video class="avatar" autoplay loop muted playsinline>
            <source src="https://2019.igem.org/wiki/images/6/69/T--Lund--julia.webm" type="video/webm">
            <source src="https://2019.igem.org/wiki/images/f/f7/T--Lund--julia.mp4" type="video/mp4">
        </video>
        <div class='bio'>    
            <h3 class="js-toc-ignore" >Julia Thomasson</h3>
            <h5>Bachelor in Biotechnology</h5>
            <p>Sit excepturi eius quidem quod esse. Distinctio ipsum neque perferendis recusandae ipsum, vitae assumenda Id explicabo officiis facilis minus repudiandae accusantium! Natus laboriosam voluptates deserunt laudantium necessitatibus beatae! Distinctio numquam!</p>
        </div>
    </div>
</div>

{% include "partials/footer.nunjucks" %}

{% endblock %}
