<!-- index.html -->
{% extends "layout.html" %}
{% block content %} 
{% include "partials/header.nunjucks" %}
<h1 id="title">Team Members </h1>
<div id="body" >
    <p class="ingress">On this page, you'll get to know the iGEM Lund 2019 team members, what they've done over the year, and what they currently study. You'll also find some info about their amazing supervisors.</p>
    <h2 id="team">Team Members</h2>
        
    <img class="fig" src="https://2020.igem.org/wiki/images/b/b9/T--Lund--Amr2.JPG"

</p> 

            <h3 style="text-align: center" class="js-toc-ignore" style="text-align:center" >Amr Ghazal</h3>
            <h5 style="text-align:center">Team Leader</h5>
            <p>Having not had enough of iGEM, Amr decided to join for a second year as the team leader. Despite Covid-19, iGEM difficulties, and Sweden’s harsh weather, he persevered and pushed forward. Amr’s main focus was management and human practice as well as public speaking. Though it was tough to reach out to new people, he spent most of his time in Zoom meetings talking to people. </p>
            <br>

     
            <img class="fig" src="https://2020.igem.org/wiki/images/b/b7/T--Lund--simon.JPG"

        </script>
            <h3 style="text-align: center" class="js-toc-ignore" >Simon Enbom</h3>
            <h5 style="text-align:center">Team Leader</h5>
            <p>Solid as a rock, Simon has been steering our project in the right direction and making invaluable contributions to all aspects of the project, with focus on modelling and project design. Somehow it seems that Simon always knows what to do next, and without him this project would be nowhere near where it is today.
            </p>
            <br>

       
            <img class="fig" src="https://2020.igem.org/wiki/images/9/92/T--Lund--isak.JPG"
<script>
</script>
            <h3 style="text-align: center" class="js-toc-ignore" >Isak Ingerholt</h3>
            <h5 style="text-align:center">Lab</h5>
            <br>
            <p>Throughout the project, Isak has taken a big responsibility for both the development and the execution of our project design. Supportive, kind and enthusiastic, Isak is a great teammate and a better friend. He always finds time for lab work and he is one of the integral parts of our lab work. He showed his expertise in designing the composite parts, primers and other bioinformatic aspects of the project.</p>

            <img class="fig" src="https://2020.igem.org/wiki/images/5/5f/T--Lund--emelie.jpg"
<script>
</script>
            <h3 style="text-align: center" class="js-toc-ignore" >Emelie</h3>
            <h5 style="text-align:center">Lab</h5>
            <p>Emelie has been a core part of the wet lab team and has been working many long hours in the lab. You can catch her running gels, ordering lab-related stuff or waiting for the autoclave to finish. She is good with excels and calculations and is such a lively personality. 
            </p>
            <br>
    
       
            <img class="fig" src="https://2020.igem.org/wiki/images/3/33/T--Lund--ruban.JPG"
            
<script>

</script>

            <h3 style="text-align: center" class="js-toc-ignore" >Ruban</h3>
            <h5 style="text-align:center">Lab</h5>
            <p>With his immense experience with wet lab research and his dedication to work in the lab, he knows how to set up the workbench perfectly and well equipped before starting the experiment. You can always find him in the lab whether it be a daytime experiment or a late-night one.He is never tired of repeating the experiments until he gets the perfect results.</p>
            <br>

        
            <img class="fig" src="https://2020.igem.org/wiki/images/e/ea/T--Lund--chinnu.JPG"
</p> 
<script>


</script>

            <h3 style="text-align: center" class="js-toc-ignore" >Chinnu</h3>
            <h5 style="text-align:center">Lab</h5>
            <p>Chinnu has been a crucial part of the lab team with her expertise in the field. She is the go to person during experimentation as she knows many  pro-tips, troubleshooting techniques and is happy to share them. She had an integral responsibility of planning and executing the laboratory part and pushed us to successfully complete our project work till the end. Without her being in the team the lab work would have been really difficult and time consuming.</p>
            <br>
    
      
            <img class="fig" src="https://2020.igem.org/wiki/images/9/91/T--Lund--mattias.JPG"
</p> 
<script>

</script>
            <h3 style="text-align: center" class="js-toc-ignore" >Mattias Akke</h3>
            <h5 style="text-align:center">Modeling</h5>
            <p>Not being too great a bio technician, Mattias’ main focus has been on developing the STAAC model. During the summer, he spent his days in his summer house in the Swedish countryside writing code. Also, he was the protagonist in the moving iGEM video.  </p>
            <br>

        </script>
        

    
        <img class="fig" src="https://2020.igem.org/wiki/images/d/d1/T--Lund--robert.JPG"
       
</p>  <h3 style="text-align: center" class="js-toc-ignore" >Robert</h3>
<h5 style="text-align:center">Design</h5>
<p>Robert has been the graphic designer, materializing the Protecto logo and designing team merchandise. With the initial objective of fund finding, this task became difficult when the pandemic emerged. He is also responsible for handling the social media content.</p>
<br>
   
    
    
    
    
    
</div>

{% include "partials/footer.nunjucks" %}

{% endblock %}
