@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans");
#main-text {
  text-align: justify;
  line-height: 30px;
  max-width: 600px;
  font-size: 20px;
  font-family: 'Charter';
  color: #333333; }
  #main-text h1, #main-text h2, #main-text h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: "Open Sans"; }
