// Colors
$body-bg: #FFFFFF;

$primary-color: #96989b;
$secondary-color: #ccc;

$light-color: #ccc;
$dark-color: #333333;


// Typography
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');

$main-font: 'Open Sans';

$header-font: 'Open Sans';

$text-font: 'Lora';
$text-size: '20px';
